@using uIntra.Core.Extensions
@model uIntra.Navigation.MyLinksViewModel

<ul class="side-nav _links">
    <li class="side-nav__item js-mylinks__item" data-id="myLinksState">
        <a class="side-nav__link _title-link"><span class="icon-star side-nav__icon"></span> @Html.Localize("Links.Menu.lbl")</a>
        <span class="side-nav__arrow js-mylinks__opener"></span>
        <ul id="js-myLinks-sortable" class="side-nav" data-url="@Url.Action("List", "MyLinks")">
            @{ Html.RenderAction("List", "MyLinks"); }
        </ul>
    </li>
    <li class="side-nav__item">
        <div class="btn-holder">
            <a class="btn _add js-myLinks-add-btn @(Model.CurrentMyLinkId.HasValue ? "_disabled" : string.Empty)" data-url="@Url.Action("Add", "MyLinks")" data-mylink-id="@Model.CurrentMyLinkId" data-content-id="@Model.ContentId">@Html.Localize("MyLinks.Add.lbl")</a>
        </div>
    </li>
</ul>