@using uIntra.Core.Extensions
@model uIntra.Events.EventPreviewViewModel

<div class="block__item">
    <p>
        @Html.Localize(Model.ActivityType.Name)<br />
        @Model.StartDate.ToDateTimeFormat() - @Model.EndDate.ToDateTimeFormat()
    </p>
    <h3 class="block__subtitle">
        <a href="@Model.Links.Details" class="js-clamp">@Html.Raw(Model.Title)</a>
    </h3>
</div>