@using uIntra.Core.Extentions
@model uIntra.Events.EventPreviewViewModel

@{
    var profilePageUrl = ViewData.GetProfilePageUrl(Model.Creator.Id);
    var detailsPageUrl = ViewData.GetActivityDetailsPageUrl(Model.ActivityType.Id, Model.Id);
}

<section class="content">
    <div class="row clearfix">
        <h2>
            <h4>
                <a href="@detailsPageUrl">@Html.Raw(Model.Title)</a>
            </h4>
        </h2>

        <h3>
            Creator:
            <a href="@profilePageUrl">@Model.Creator.DisplayedName</a>
        </h3>

        <h4>
            From: @Model.StartDate
            Till: @Model.EndDate
        </h4>
    </div>
</section>
