@using uIntra.Core.Extentions
@model uIntra.Bulletins.BulletinPreviewViewModel
    
<h3 class="block__subtitle">
    <a href="@Model.Links.Details">@Html.Raw(Model.Description)</a>
</h3>
<div class="block__about">
    <p class="block__about-item"><a href="@Model.Links.Creator">@Model.Creator.DisplayedName</a></p>
    <p class="block__about-item">@Model.PublishDate</p>
</div>
