@using uCommunity.Core.Extentions
@using uCommunity.Navigation.DefaultImplementation
@model MyLinksViewModel

<ul class="side-nav js-my-links__opener">
    <li class="side-nav__item">
        <a class="side-nav__link">@Html.Localize("Links.Menu.lbl")</a>
        <span class="side-nav__arrow"></span>
        <ul class="side-nav js-myLinks-container" >
            @{ Html.RenderAction("List", "MyLinks", new {model = @Model.Links}); }
        </ul>
    </li>
    <li class="side-nav__item">
        <a class="side-nav__link js-myLinks-add" data-content-id="@Model.ContentId">@Html.Localize("MyLinks.Add.lbl")</a>
        <a class="side-nav__link js-myLinks-remove" data-id="@Model.Id">@Html.Localize("MyLinks.Remove.lbl")</a>
    </li>
</ul>