@using System.Web.Mvc.Html
@using Umbraco.Web
@using Uintra.Core.Extensions
@model  Compent.Uintra.Core.Bulletins.BulletinExtendedCreateModel

<div class="create-bulletin js-create-bulletin" data-message="@Html.Localize("Common.AreYouSure")">
    <button class="create-bulletin__close js-create-bulletin__close">X</button>
    <div class="create-bulletin__holder">
        <div class="create-bulletin__dimmed-bg js-create-bulletin__dimmed-bg"></div>
        <div class="create-bulletin__form quill--custom">
            @using (Html.BeginUmbracoForm("CreateExtended", "Bulletins", null, new { @class = "js-create-bulletin-form" }, FormMethod.Post))
            {
                <div class="create-bulletin__user">
                    <header class="feed__item-heading clearfix">
                        @Html.Action("Photo", "User", new { user = Model.Creator })
                        <div class="feed__item-title-holder js-create-bulletin__user">
                            <h2 class="feed__item-title">
                                @Model.Creator.DisplayedName
                            </h2>
                            <p class="feed__item-meta">
                                @foreach (var date in Model.Dates)
                                {
                                    <span class="feed__item-date">@date</span>
                                    <span class="feed__item-divider"> - </span>
                                }
                                <span class="feed__item-category">@Html.Localize(Model.ActivityType.ToString())</span>
                            </p>
                        </div>
                    </header>
                </div>
                <div class="create-bulletin__tags">
                    @Html.Action("TagPicker", "UserTags", new { })
                </div>
                <div class="dropzone">
                    <div class="dropzone-previews js-dropzone-previews hidden"></div>
                </div>
                <div class="quill--custom-container">
                    <div class="create-bulletin__description js-create-bulletin__description"
                         data-placeholder="@Html.Localize("BulletinsCreate.FormPlaceholder.lbl")"></div>
                    <span class="create-bulletin__mobile-placeholder">@Html.Localize("BulletinsCreate.MobileBtn.lbl")</span>
                    <input type="hidden" class="js-create-bulletin__description-hidden" name="@nameof(Model.Description)" />
                    <div class="create-bulletin__toolbar js-bulletin-toolbar">
                        <button class="btn _submit _send js-toolbar__send-button" disabled="disabled">@Html.Localize("BulletinsCreate.Post.lbl")</button>
                        <div class="create-bulletin__toolbar ql-toolbar ql-snow js-create-bulletin__toolbar">
                            <span class="ql-counter">
                                <label class="js-desc-counter"></label><label>/2000</label>
                            </span>
                            <span class="ql-formats">
                                <button type="button" class="ql-emoji" title="emoji"></button>
                                <button type="button" class="ql-bold" title="bold"></button>
                                <button type="button" class="ql-italic" title="italic"></button>
                                <button type="button" class="ql-link" title="link"></button>
                            </span>
                            <span class="ql-formats">
                                <button type="button" class="js-dropzone _upload" title="upload" data-allowed="@Model.AllowedMediaExtensions" data-remove-text="@Html.Localize("FileUploadView.RemoveFile.lbl")">
                                </button>
                                <input type="hidden" class="js-new-media" name="@nameof(Model.NewMedia)"/>
                            </span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="@nameof(Model.MediaRootId)" value="@Model.MediaRootId" />
            }
        </div>
    </div>
</div>