@using uIntra.Core.Extensions
@model Compent.uIntra.Core.Activity.Models.ExtendedItemHeaderViewModel
@{
    var inactiveUser = Model.Owner.Inactive ? "_inactive" : string.Empty;
}

<header class="feed__item-heading @inactiveUser">
    @Html.Action("Photo", "User", new { user = Model.Owner })
    <div class="feed__item-title-holder">
        <h2 class="feed__item-title">
            <a class="feed__item-title-link" href="@Model.Links.Owner">@Model.Title</a>
            <span class="feed__item-inactive">[@Html.Localize("ActivityItemHeader.Creator.Inactive.lbl")]</span>
        </h2>
        <p class="feed__item-meta">
            <a class="feed__item-meta-link" href="@Model.Links.Details">
                @foreach (var date in Model.Dates)
                {
                    <span class="feed__item-date">@date</span>
                    <span class="feed__item-divider"> - </span>
                }
                <span class="feed__item-category">@Html.Localize(Model.Type.Name)</span>
            </a>
            
            @if (Model.GroupInfo.HasValue)
            {
                <span class="feed__item-divider"> > </span>
                <a href="@Model.GroupInfo.Value.Url">
                    <span>@Model.GroupInfo.Value.Title</span>                    
                    <span class="feed__item-group">
                        <img src="~/Content/images/group.svg">
                        <em class="feed__item-tooltip">@Html.Localize("IdeasList.HasGroup.lbl")</em>
                    </span>
                </a>
            }
        </p>
    </div>
</header>