@using System.Web.Mvc.Html
@using System.Web.Routing
@using Uintra.Core.Extensions
@model Uintra.Subscribe.ActivitySubscribeSettingsModel

<div class="check js-subscribe-settings-holder">
    <label class="form__label">@Html.Localize("SubscribeSettings.Title.lbl")</label>
    <label class="check__label">
        @{
            var canSubscribeAttrs = new RouteValueDictionary(new { @class = "check__box js-can-subscribe" });
            if (!Model.CanEditSubscribe)
            {
                canSubscribeAttrs.Add("disabled", "disabled");
            }
        }
        @Html.CheckBoxFor(m => m.CanSubscribe, canSubscribeAttrs)
        <span class="check__fake-input icon-check"></span>
        <span class="check__fake-label">@Html.Localize("SubscribeSettings.CanSubscribe.lbl")</span>
    </label>
    <div class="check__area js-subscribe-notes-holder">
        <label class="form__label" for="subscribeNotes">@Html.Localize("SubscribeSettings.SubscribeNotes.lbl")</label>
        <textarea class="form__textarea" id="subscribeNotes" type="text" name="subscribeNotes" data-val-length-max="200"
                  data-val-length="@string.Format(Html.Localize("SubscribeSettings.SubscribeNotesMaxLength.lbl"), 200)" data-val="true">@Model.SubscribeNotes</textarea>
    </div>
</div>
