@using Uintra.Core.Extensions
@model Uintra.Core.Activity.IntranetActivityItemHeaderViewModel
@{
    var inactiveUser = Model.Owner.Inactive ? "_inactive" : string.Empty;
}

<header class="feed__item-heading @inactiveUser">
    @Html.Action("Photo", "Member", new { member = Model.Owner })
    <div class="feed__item-title-holder">
        <h2 class="feed__item-title">
            <a class="feed__item-title-link" href="@Model.Links.Owner">@Model.Title</a>
            <span class="feed__item-inactive">[@Html.Localize("ActivityItemHeader.Creator.Inactive.lbl")]</span>
        </h2>
        <p class="feed__item-meta">
            <a class="feed__item-meta-link" href="@Model.Links.Details">
                @foreach (var date in Model.Dates)
                {
                    <span class="feed__item-date">@date</span>
                    <span class="feed__item-divider"> - </span>
                }
                <span class="feed__item-category">@Html.Localize(Model.Type.ToString())</span>
            </a>
        </p>
    </div>
</header>