@using System.Web.Mvc.Html
@using uIntra.Core.Activity
@using uIntra.Core.Extentions
@model uCommunity.News.NewsViewModel
@{
    if (Model == null)
    {
        <div>News doesn't exists!</div>
        return;
    }

    <section class="content">
        <div class="row clearfix">
            <div class="col-md-9">
                <header class="content__header">
                    @if (Model.CanEdit)
                    {
                        <a class="content__btn" href="@ViewData.GetActivityEditPageUrl(IntranetActivityTypeEnum.News, Model.Id)">@Html.Localize("DetailsView.Edit.lbl")</a>
                    }
                    <a class="link__back" href="@($"{Context.GetBackLink(ViewData.GetActivityOverviewPageUrl(IntranetActivityTypeEnum.News))}#{Model.Id}")">@Html.Localize("DetailsView.GoBal.lbl")</a>
                </header>

                <div class="content__item _details">
                    @Html.Action("ActivityDetailsHeader", "ActivityHeader", new { header = Model.HeaderInfo })
                    <div class="content__item-txt">
                        @Html.Raw(Model.Description)
                    </div>
                    <div class="content__item-images">
                        @{ Html.RenderAction("RenderGallery", "LightboxGallery", new {mediaIds = Model.Media}); }
                    </div>
                </div>
            </div>
        </div>
    </section>
} 