@using System.Web.Mvc.Html
@using Extensions
@using uIntra.Core.Extensions
@model Compent.uIntra.Core.Events.EventExtendedViewModel

<section class="content">
    <div class="feed__btns clearfix">
        <a href="#" class="btn pull-right hide"><i class="glyphicon glyphicon-print"></i>@Html.Localize("DetailsView.Print.lbl")</a>
        @if (Model.CanEdit)
        {
            <a class="btn pull-right" href="@Model.Links.Edit">@Html.Localize("DetailsView.Edit.lbl")</a>
        }
        <a class="link__back" href="/">@Html.Localize("DetailsView.GoToList.lbl")</a>
    </div>
    <div class="feed__item _details">
        @Html.Action("DetailsHeader", "Activity", new { header = Model.HeaderInfo })
        <div class="event-details">
            <time class="date date--event-details" datetime="@Model.StartDate"><span class="date__day">@Model.StartDate.ToString("dd")</span> @Model.StartDate.ToString("MMM")</time>
            <div class="event-details__text">
                @if (Model.StartDate.DayOfYear == Model.EndDate.DayOfYear)
                {
                    <p>
                        @Model.StartDate.ToEventDetailsDateFormat()<br />
                        @Model.StartDate.ToEventDetailsTimeFormat().ToLower() - @Model.EndDate.ToEventDetailsTimeFormat().ToLower()
                    </p>
                }
                else
                {
                    <p>@Model.StartDate.ToEventDetailsDateFormat() - @Model.EndDate.ToEventDetailsDateFormat()</p>
                    <p>@Model.StartDate.ToEventDetailsTimeFormat().ToLower() - @Model.EndDate.ToEventDetailsTimeFormat().ToLower()</p>
                }
                @if (Model.LocationTitle.HasValue() || Model.LocationAddress.HasValue())
                {
                    <p>
                        @if (Model.LocationTitle.HasValue())
                        {
                            @Model.LocationTitle <br />
                        }
                        @if (Model.LocationAddress.HasValue())
                        {
                            @Model.LocationAddress
                        }
                    </p>
                }
            </div>
        </div>
        <div class="feed__item-txt">
            @Html.Raw(Model.Description)
        </div>
        <div class="feed__item-images">
            @{ Html.RenderAction("RenderGallery", "LightboxGallery", new { mediaIds = Model.Media }); }
        </div>
    </div>
</section>
