@using System.Web.Mvc.Html
@using uIntra.Core.Extensions
@using Extensions
@model uIntra.Events.EventViewModel

<section class="content">
    <div class="feed__btns clearfix">
        <a href="#" class="btn pull-right hide"><i class="glyphicon glyphicon-print"></i>@Html.Localize("DetailsView.Print.lbl")</a>
        @if (Model.CanEdit)
        {
            <a class="btn pull-right" href="@Model.Links.Edit">@Html.Localize("DetailsView.Edit.lbl")</a>
        }
        <a class="link__back" href="/">@Html.Localize("DetailsView.GoToList.lbl")</a>
    </div>
    <div class="feed__item _details">
        @Html.Action("DetailsHeader", "Activity", new { header = Model.HeaderInfo })
        <div class="event-details">
            <time class="date" datetime="@Model.StartDate"><span class="date__day">@Model.StartDate.Day</span> @Model.StartDate.ToString("MMM")</time>
            <div>
                <span>@Model.StartDate.ToDateTimeFormat() - @Model.EndDate.ToDateTimeFormat()</span>
            </div>
            @if (Model.LocationTitle.HasValue())
            {
                <div>@Model.LocationTitle</div>
            }
            @if (Model.LocationAddress.HasValue())
            {
                <div>@Model.LocationAddress</div>
            }
        </div>
        <div class="feed__item-txt">
            @Html.Raw(Model.Description)
        </div>
        <div class="feed__item-images">
            @{ Html.RenderAction("RenderGallery", "LightboxGallery", new { mediaIds = Model.Media }); }
        </div>
    </div>
</section>