@using System.Web.Mvc.Html
@using uIntra.Core.Activity
@using uIntra.Core.Extentions
@model uIntra.Events.EventViewModel

<section class="content">
    <div class="row clearfix">
        <div class="col-md-9">
            <div class="content__btns clearfix">
                <a href="#" class="btn pull-right hide"><i class="glyphicon glyphicon-print"></i>@Html.Localize("DetailsView.Print.lbl")</a>
                @if (Model.CanEdit)
                {
                    <a class="btn pull-right" href="@ViewData.GetActivityEditPageUrl(IntranetActivityTypeEnum.Events, Model.Id)">@Html.Localize("DetailsView.Edit.lbl")</a>
                }
                <span class="content__item-label">@Html.Localize("DetailsView.Important.lbl")</span>
                <a class="link__back" href="@($"{Context.GetBackLink(ViewData.GetActivityOverviewPageUrl(IntranetActivityTypeEnum.Events))}#{Model.Id}")">@Html.Localize("DetailsView.GoBal.lbl")</a>
            </div>
            <div class="content__item _details">
                @Html.Action("DetailsHeader", "Activity", new { header = Model.HeaderInfo })
                <div class="content__item-txt">
                    @Html.Raw(Model.Description)
                </div>
                <div class="content__item-images">
                    @{ Html.RenderAction("RenderGallery", "LightboxGallery", new { mediaIds = Model.Media }); }
                </div>
            </div>
        </div>
    </div>
</section>