@using uIntra.Core.Extentions
@inherits UmbracoViewPage<uIntra.Groups.GroupNavigationViewModel>
<nav class="tabset">
    <strong class="tabset__logo"><a href="/"><img class="img-responsive" src="/Content/images/logo.png" alt="Team Denmark"></a></strong>
    <a id="js-sidepanel-opener" class="sidebar__opener _for-mobile"></a>
    <div class="tabset__holder">
        
        <h1 class="tabset__title">
            @if (Model.GroupUrl.IsNullOrEmpty())
            {
                <span class="tabset__title-link">@Model.GroupTitle</span>
            }
            else
            {
                <a class="tabset__title-link" href="@Model.GroupUrl">@Model.GroupTitle</a>
            }
            <span class="tabset__group-label"> - @Html.Localize("GroupRoom.Label")</span>
        </h1>

        <ul id="nav nav-tabs" class="tabset__navigation clearfix js-feed-links">
            @foreach (var tab in Model.Tabs)
            {
                if (tab.Type != null)
                {
                    <li class="tabset__navigation-item js-feed-type @(tab.IsActive ? "_active" : "")" data-type="@tab.Type.GetHashCode()" data-page-url="@tab.Url">
                        <a class="tabset__navigation-link " href="@tab.Url">
                            <span>@Html.Localize(tab.Type.Name)</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="tabset__navigation-item @(tab.IsActive ? "_active" : "") @(tab.AlignRight ? "_right _for-desktop" : "")">
                        <a class="tabset__navigation-link " href="@tab.Url">
                            <span>@tab.Title</span>
                        </a>
                    </li>
                }
            }
            
            @if (Model.CreateTabs.Any())
            {
                <li class="tabset__navigation-item _item-add">
                    <a class="tabset__navigation-link _add">+</a>
                    <ul class="tabset__navigation-list">
                        @foreach (var createTab in Model.CreateTabs)
                        {
                            <li class="tabset__navigation-list-item">
                                <a class="tabset__navigation-list-link" href="@createTab.Url">@Html.Localize($"CentralFeed.CreateLink_{createTab.Type}.lnk")</a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>