@using uCommunity.Core
@using uCommunity.Core.Extentions

@model uCommunity.Core.Activity.Models.IntranetActivityDetailsHeaderViewModel

<header class="content__item-heading clearfix">
    <div class="content__item-avatar">
        <a href="#">
            <img style="width: 60px; height: 60px;" class="content__item-avatar-img" src="@ImageHelper.GetImageSrcOrDefaultAvatar(Model.Creator?.Photo)" />
        </a>
    </div>
    <div class="content__item-title-holder">
        <p class="content__item-meta">
            @foreach (var date in Model.Dates)
            {
                <span class="content__item-date">@date</span>
                <span class="content__item-divider"> - </span>
            }
            <span class="content__item-category">@Html.Localize(Model.Type)@(Model.Creator != null ? "," : string.Empty)</span>
            @if (Model.Creator != null)
            {
                <span class="content__item-name">@Model.Creator.DisplayedName</span>
            }
        </p>
    </div>
</header>
<h2 class="content__item-title">@Model.Title</h2>