@using System.Web.Mvc.Html
@using Uintra.Core.Extensions
@using Compent.Extensions
@model Uintra.Core.Activity.IntranetActivityDetailsHeaderViewModel
@{
    var inactiveUser = Model.Owner.Inactive ? "_inactive" : string.Empty;
}

<header class="feed__item-heading @inactiveUser">
    @Html.Action("Photo", "User", new { user = Model.Owner })
    <div class="feed__item-title-holder">
        <p class="feed__item-meta">
            @foreach (var date in Model.Dates)
            {
                <span class="feed__item-date">@date</span>
                <span class="feed__item-divider"> - </span>
            }
            <span class="feed__item-category">@Html.Localize(Model.Type.ToString())@(Model.Owner != null ? "," : string.Empty)</span>
            @if (Model.Owner != null)
            {
                <a href="@Model.Links.Owner" class="feed__item-name">
                    <span>@Model.Owner.DisplayedName</span>
                </a>
            }
            @if (Model.Location?.Address != null && Model.Location.ShortAddress != null)
            {
                @Html.Action("HeaderLink", "ActivityLocation", new { location = Model.Location })
            }
            <span class="feed__item-inactive">[@Html.Localize("ActivityItemHeader.Creator.Inactive.lbl")]</span>
        </p>
    </div>
</header>
@if (Model.Title.HasValue())
{
    <h2 class="feed__item-title">@Model.Title</h2>
}