@using Uintra.Core.Extensions
@using Compent.Extensions
@model Uintra.Groups.GroupInfoViewModel
<section class="block _groups-info clearfix">
    <h2 class="block__title">@Model.Title</h2>
    @if (Model.GroupImageUrl.HasValue())
    {
        <div class="block__image">
            <img class="img-responsive" src="@Model.GroupImageUrl" />
        </div>
    }
    <div class="block__description">
        <p>
            @Html.Raw(Model.Description.ReplaceLineBreaksForHtml())
        </p>
    </div>
    <div class="block__meta">
        <dl class="block__meta-info">
            @if (Model.MembersCount > 0)
            {
                <dt class="block__meta-count"><span id='membersCount'>@Model.MembersCount</span> @(Html.Localize(Model.MembersCount > 1 ? "GroupInfo.MembersCount.lbl" : "GroupInfo.OneMemberCount.lbl"))</dt>
            }
            <dd class="block__meta-name">
                @Html.Localize("GroupInfo.CreatorName"):
                <a href="@Model.CreatorProfileUrl">
                    <span class="block__meta-name-title">@Model.Creator.DisplayedName</span>
                </a>
            </dd>
        </dl>
    </div>
    @if (Model.CanUnsubscribe)
    {
        <div>
            @{ Html.RenderAction("GroupSubscribe", "Group", new { groupId = Model.Id }); }
        </div>
    }
</section>