@model uIntra.Panels.Core.Models.Table.TableEditorViewModel

<ul class="table @Model.TableStyle">
    @if (Model.UseFirstRowAsHeader)
    {
        var firstRowCells = Model.Cells.First();

        <li class="table__row">
            @foreach (var cell in firstRowCells)
            {
                <div class="table__col _header">
                    <span class="@cell.Align">@Html.Raw(cell.Value)</span>
                </div>
            }
        </li>
    }

    @{
        // if first item is header, then skip first item
        var index = Model.UseFirstRowAsHeader ? 1 : 0;
        var headerCells = Model.Cells.First();
    }

    @for (var rowIndex = index; rowIndex < Model.Cells.Count; rowIndex++)
    {
        var row = Model.Cells[rowIndex];

        <li class="table__row @Model.RowStyles.ElementAtOrDefault(rowIndex)">
            @for (var columnIndex = 0; columnIndex < row.Count; columnIndex++)
            {
                var cell = row[columnIndex];
                var headerCell = headerCells[columnIndex];

                <div data-label="@headerCell.Value" class="table__col @Model.ColumnStyles.ElementAtOrDefault(columnIndex)">
                    <span class="@cell.Align">@Html.Raw(cell.Value)</span>
                </div>
            }
        </li>
    }
</ul>