@using System.Web.Mvc.Html
@using uIntra.Core.Activity
@using uIntra.Core.Extentions
@model uIntra.News.NewsPreviewViewModel

@{
    var profilePageUrl = ViewData.GetProfilePageUrl(Model.Creator.Id);
    var detailsPageUrl = ViewData.GetActivityDetailsPageUrl(Model.ActivityType.Id, Model.Id);
}

<section class="content">
    <div class="row clearfix">
        <h2>
            <h4>
                <a href="@detailsPageUrl">@Html.Raw(Model.Title)</a>            
            </h4>
        </h2>
        
        <h3>
            Creator: 
            <a href="@profilePageUrl">@Model.Creator.DisplayedName</a>
        </h3>
        
        <h4>
            Publish date: @Model.PublishDate
        </h4>
    </div>
</section>