@using uCommunity.Core.Extentions
@using uCommunity.Core.Controls.FileUpload
@model uCommunity.Users.Core.ProfileEditModelBase

<div id="js-profile-page" class="form _profile">
    
    @using (Ajax.BeginForm("Edit", "Profile", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "js-profile-page"

    }))
    {
        <div class="form__row clearfix">
            <div class="form__header">
                <div class="form__avatar">
                    <img class="form__avatar-img" style="width: 100px;height: 100px" src="@Model.Photo" />
                </div>
                <div class="form__meta">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form__input" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form__input" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="file-upload">@Html.Localize("Profile.UploadNewPhoto.lbl")</label>
            @{
                var settings = new FileUploadSettings { AllowedExtentions = ViewData["AllowedMediaExtentions"] as string, MaxFilesCount = 1 };
                Html.RenderAction("Uploader", "FileUpload", new { Settings = settings });
            }
        </div>
        <div class="form__row clearfix">
            <input type="hidden" name="mediaRootId" value="@Model.MediaRootId" />
            <input class="form__btn _black _submit" type="submit" value="@Html.Localize("Profile.Save.btn")" />
        </div>
        <div class="form__row clearfix">
            @Html.ValidationSummary()
        </div>
    }
</div>

