@using uIntra.Core.Extentions
@model uCommunity.Users.Core.ProfileViewModelBase

<div id="js-profile-page" class="form _profile">
    <div class="form__row">
        <div class="form__header">
            <div class="form__avatar">
                <img class="form__avatar-img" style="width: 100px;height: 100px" src="@Model.Photo" />
            </div>
            <div class="form__meta">
                <strong class="form__name">@Model.FirstName @Model.LastName</strong>
                <span class="form__email">@Model.Email</span>
            </div>
        </div>
    </div>
    <div class="form__row">
        @using (Ajax.BeginForm("Edit", "Profile", new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.ReplaceWith,
            UpdateTargetId = "js-profile-page",
            OnSuccess = "profileController.init()"

        }))
        {
            <input class="form__btn _black _submit" type="submit" value="@Html.Localize("Profile.Edit.btn")" />
        }
    </div>
</div>