@using Compent.Shared.Extensions.Bcl @model UBaseline.Core.IndexPage.IndexPageModel
<!doctype html>
<html lang="en">
<head>
  @Html.Raw(Model.HeaderScript)
  @Html.Raw(Model.HeaderLocalScript)
  <meta charset="utf-8">
  <base href="/">
  <title>@Model.Title</title>
  
            @if (Model.MetaData != null)
            {
              <meta name="title" content="@Model.MetaData.MetaTitle">
              <meta name="description" content="@Model.MetaData.MetaDescription">
              <meta property="og:title" content="@Model.MetaData.SocialTitle">
              <meta property="og:description" content="@Model.MetaData.SocialDescription">
              if (Model.MetaData.SocialImageUrl.HasValue())
              {
                <meta property="og:image" content="@Model.MetaData.SocialImageUrl">
              }
              <link rel="canonical" href="@Model.MetaData.CanonicalUrl" />
            }
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
<link rel="stylesheet" href="/wwwroot/styles.e12c8bf691c0467b4794.css"></head>
<body id="top" tabindex="-1">
  @Html.Raw(Model.BodyScript)
  @Html.Raw(Model.BodyLocalScript)
  <app-root></app-root>
  
              <div id="page-content" style="position:absolute;">
                  
                  @Html.Action("Navigation", "PageContent", new { node = Model.Node })
                  @Html.Action("Index", "PageContent", new { node = Model.Node })
              </div>
              @Html.Raw(Model.FooterScript)
              @Html.Partial("Microdata", Model.MetaData?.Microdata ?? string.Empty)
            
  @Html.Raw(Model.FooterLocalScript)
<script src="/wwwroot/runtime.6b2203b3caeef37e301b.js" defer></script><script src="/wwwroot/polyfills-es5.d40e620d8cab4e5ec4ab.js" nomodule defer></script><script src="/wwwroot/polyfills.0c6be490e7c9808d4005.js" defer></script><script src="/wwwroot/scripts.755336941a50856dad23.js" defer></script><script src="/wwwroot/main.fdca6b90973cd94a329b.js" defer></script></body>
</html>
