@using uIntra.Core.Extensions
@model uIntra.Navigation.LeftNavigationUserMenuViewModel

 <ul class="side-nav _for-mobile">
    <li class="side-nav__item">
        <a class="side-nav__link _with-icon" href="@Model.ProfileLink">
            <img class="avatar-img" src="@Model.CurrentUser.Photo?width=30" width="30">
            @Html.Localize("LeftNavigationUserMenu.ViewProfile.lbl")
        </a>
    </li>
    <li class="side-nav__item">
        <a class="side-nav__link _with-icon js-logout" href="@Url.Action("Logout", "NavigationAuthorization")">
            <span class="icon icon-logout"></span>
            @Html.Localize("LeftNavigationUserMenu.Logout.lbl")
         </a>
     </li>
 </ul>