@using Uintra.Core.Extensions
@model Uintra.Navigation.LeftNavigationUserMenuViewModel

<ul class="side-nav side-nav--profile">
    <li class="side-nav__item">
        <a class="side-nav__link side-nav__link--title" href="@Model.ProfileLink">
            @if (!string.IsNullOrWhiteSpace(Model.CurrentUser.Photo))
            {
                var photoUrl = Model.CurrentUser.Photo + "?width=30&height=30&mode=crop";
                <img class="avatar-img" src="@photoUrl" width="30">
            }
            @Model.CurrentUser.DisplayedName
        </a>
    </li>
    <li class="side-nav__item">
        <a class="side-nav__link js-logout" href="@Url.Action("Logout", "NavigationAuthorization")">
            @Html.Localize("LeftNavigationUserMenu.Logout.lbl")
        </a>
    </li>
</ul>