@using Uintra.Core.Extensions
@model Uintra.Navigation.LeftNavigationUserMenuViewModel

<ul class="side-nav side-nav--profile">
    <li class="side-nav__item">
        <a class="side-nav__link side-nav__link--title" href="@Model.ProfileLink">
            @if (!string.IsNullOrWhiteSpace(Model.CurrentUser.Photo))
            {
                var photoUrl = Model.CurrentUser.Photo + "?width=30&height=30&mode=crop";
                <img class="avatar-img" src="@photoUrl" width="30">
            }else
            {
                <!--UC-2540 Users profile photo should show initials in case if photo is not added-->
                <div class="avatar">
                    <div class="avatar__letter">
                        @Model.CurrentUser.DisplayedName.First()
                    </div>
                </div>           
            }

            @Model.CurrentUser.DisplayedName
        </a>
    </li>
    <li class="side-nav__item">
        <a class="side-nav__link js-logout" href="@Url.Action("Logout", "NavigationAuthorization")">
            @Html.Localize("LeftNavigationUserMenu.Logout.lbl")
        </a>
    </li>
</ul>