@using System.Web.Mvc
@using System.Web.Routing
@using uCommunity.Core
@using uCommunity.Core.Controls.FileUpload
@using uCommunity.Core.Extentions
@using Umbraco.Web
@model uCommunity.Events.EventEditModel

<div class="form" id="js-events-edit-page">
    @using (Html.BeginUmbracoForm("Edit", "Events", FormMethod.Post, new { id = "editForm" }))
    {
        @Html.HiddenFor(el => el.NotifyAllSubscribers, new { id = "notifyAllSubscribers" })
        <h1 class="form__title">@Html.Localize("EventsEdit.Title.lbl")</h1>
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="form__row clearfix">
            <label class="form__label" for="title">@Html.Localize("EventsEdit.Title.lbl") <span class="form__required">*</span></label>
            <input class="form__input" id="title" type="text" name="title" value="@(Model.Title)"
                   data-val-required="@Html.Localize("EventsEdit.TitleRequired.lbl")" data-val-length-max="200" data-val-length="@string.Format(Html.Localize("CreateEvents.TitleMaxLength.lbl"), 200)" data-val="true" />
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="description">@Html.Localize("EventsEdit.Description.lbl") <span class="form__required">*</span></label>
            <div id="description">
                @Html.Raw(Model.Description)
            </div>
            <input type="hidden" id="js-hidden-description-container" name="description" value="@(Model.Description)"
                   data-val-required="@Html.Localize("EventsEdit.DescriptionRequired.lbl")" data-val="true" />
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="js-start-date">@Html.Localize("EventsEdir.StartDate.lbl")</label>
            <input class="form__input" id="js-start-date" data-default-date="@Model.StartDate.ToString(IntranetConstants.Common.DefaultDateTimeValuePickerFormat)" data-date-format="@IntranetConstants.Common.DefaultDateTimePickerFormat" />
            <input type="hidden" id="js-start-date-value" name="startDate" data-val-required="@Html.Localize("EventsEdit.StartDateRequired.lbl")" data-val="true" />
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="js-end-date">@Html.Localize("EventsEdit.EndDate.lbl")</label>
            <input class="form__input" id="js-end-date" data-default-date="@Model.EndDate.ToString(IntranetConstants.Common.DefaultDateTimeValuePickerFormat)" data-date-format="@IntranetConstants.Common.DefaultDateTimePickerFormat"/>
            <input type="hidden" id="js-end-date-value" name="endDate" data-val-greaterthan="@Html.Localize("EventsEdit.EndDateShouldBeGreaterThanStartDate.lbl")" data-val-greaterthan-startdate="js-start-date-value" data-val-required="@Html.Localize("EventsEdit.EndDateRequired.lbl")" data-val="true"/>
        </div>
        <div class="form__row clearfix">
            <div class="check">
                <label class="check__label">
                    @Html.CheckBoxFor(m => m.IsPinned, new { @id = "pin-control", @class = "check__box" })
                    <span class="check__fake-input icon-check"></span>
                    <span class="check__fake-label">@Html.Localize("EventsCreate.SetPinned.lbl")</span>
                </label>
                <div id="pin-info">
                    @Html.Localize("EventsEdit.PinActivityMessage.lbl")
                    @{
                        var daysRange = Enumerable.Range(1, 30);
                        var listOfDays = new List<SelectListItem>() { new SelectListItem() { Value = 0.ToString(), Text = "None" } };
                        listOfDays.AddRange(daysRange.Select(d => new SelectListItem() { Text = d.ToString() }));
                        @Html.DropDownListFor(d => d.PinDays, listOfDays)
                    }
                    <label class="check__label">
                        <label class="check__label">
                            <input type="checkbox" class="check__box" id="pin-accept" />
                            <span class="check__fake-input icon-check"></span>
                            <span class="check__fake-label">@Html.Localize("EventsEdit.AcceptPin.lbl")</span>
                        </label>
                    </label>
                </div>
            </div>
        </div>
        <div class="form__row clearfix">
            <div class="check">
                <label class="check__label">
                    @{
                        var canSubscribeAttrs = new RouteValueDictionary(new { @class = "check__box" });
                        if (!Model.CanEditSubscribe)
                        {
                            canSubscribeAttrs.Add("disabled", "disabled");
                        }
                    }
                    @Html.CheckBoxFor(m => m.CanSubscribe, canSubscribeAttrs)
                    <span class="check__fake-input icon-check"></span>
                    <span class="check__fake-label">@Html.Localize("EventsEdit.CanSubscribe.lbl")</span>
                </label>
            </div>
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="file-upload">@Html.Localize("EventsEdit.UploadFiles.lbl")</label>
            @{
                var settings = new FileUploadSettings { AllowedExtentions = ViewData["AllowedMediaExtentions"] as string };
                Html.RenderAction("Editor", "FileUpload", new { Settings = settings, Model = Model?.Media });
            }
        </div>
        <div class="form__row clearfix">
            @Html.ValidationSummary()
        </div>
        <div class="form__row clearfix">
            <input type="hidden" name="mediaRootId" value="@Model.MediaRootId" />
            <input class="form__btn _black _submit" type="submit" value="@Html.Localize("EventsEdit.Edit.btn")" data-text="@Html.Localize("Common.NotifyAllSubscribers")" data-yes="@Html.Localize("Common.NotifyAllSubscribers.Yes")" data-no="@Html.Localize("Common.NotifyAllSubscribers.No")" data-cancel="@Html.Localize("Common.NotifyAllSubscribers.Cancel")" />
            <input class="form__btn _black js-event-hide" type="button" value="@Html.Localize("EventsEdit.Hide.btn")" data-id="@Model.Id" data-text="@Html.Localize("Common.AreYouSure")" data-ok="@Html.Localize("Common.AreYouSure.Ok")" data-cancel="@Html.Localize("Common.AreYouSure.Cancel")" />
            <a class="form__btn _default" href="@(Context.GetBackLink($"{ViewData["DetailsPageUrl"]}?Id={Model.Id}"))">@Html.Localize("Common.Cancel.lnk")</a>
        </div>
                }
</div>