@using System.Web.Mvc.Html
@using uCommunity.Core.Extentions
@model Compent.uCommunity.Core.News.Models.NewsOverviewItemExtendedViewModel

@{
    var expired = Model.Expired ? "_expired" : "";
}

<div class="content__item @expired">
    <div class="row clearfix">
        <div class="col-md-9">
            @if (@Model.IsPinned)
            {
                <div class="content__item-txt">@Html.Localize("NewsItemView.Pinned.lbl")</div>
            }      
            
            @Html.Action("ActivityItemHeader", "ActivityHeader", new {header = Model.HeaderInfo})
            <div class="content__item-image"> </div>
            <div class="content__item-txt">
                <p>@Model.Teaser</p>
            </div>
            <div class="content__item-images">
                @{ Html.RenderAction("RenderGallery", "LightboxGallery", new {mediaIds = Model.MediaIds}); }
            </div>
            <div class="content__item-feed">
                <div class="content__item-feed-holder">
                    @{ Html.RenderAction("Likes", "Likes", new {likesInfo = Model.LikesInfo}); }
                    @{ Html.RenderAction("Preview", "Comments", new {activityId = Model.Id, link = Model.HeaderInfo.DetailsPageUrl}); }
                </div>
            </div>

        </div>
    </div>
</div> 