@model Uintra.Panels.Core.Models.Table.TableEditorViewModel
@{
    var header = Model.UseFirstRowAsHeader ? "table--with-header" : string.Empty;
}
<ul class="table @header">

    @{
        var headerCells = Model.Cells.First();
    }

    @for (var rowIndex = 0; rowIndex < Model.Cells.Count; rowIndex++)
    {
        var row = Model.Cells[rowIndex];
        var boldColumn = Model.MakeFirstColumnBold ? "table__row--bold" : string.Empty;

        <li class="table__row @boldColumn">
            @for (var columnIndex = 0; columnIndex < row.Count; columnIndex++)
            {
                var cell = row[columnIndex];
                var headerCell = headerCells[columnIndex];

                <div data-label="@headerCell.Value" class="table__col">
                    <span class="@cell.Align">@Html.Raw(cell.Value)</span>
                </div>
            }
        </li>
    }
</ul>