@using Uintra.Core.Extensions
@model Compent.Uintra.Core.Activity.Models.ExtendedItemHeaderViewModel
@{
    var inactiveUser = Model.Owner.Inactive ? "_inactive" : String.Empty;
}

<header class="feed__item-heading @inactiveUser">
    @Html.Action("Photo", "User", new { user = Model.Owner })
    <div class="feed__item-title-holder">
        <h2 class="feed__item-title"><a class="feed__item-title-link" href="@Model.Links.Details">@Model.Title</a></h2>
        <p class="feed__item-meta">
            @foreach (var date in Model.Dates)
            {
                <span class="feed__item-date">@date</span>
                <span class="feed__item-divider"> - </span>
            }
            <span class="feed__item-category">@Html.Localize(Model.Type.ToString())@(Model.Owner != null ? "," : string.Empty)</span>
            @if (Model.Owner != null)
            {
                <a href="@Model.Links.Owner" class="feed__item-name">
                    <span>@Model.Owner.DisplayedName</span>
                </a>
            }

            <span class="feed__item-inactive">[@Html.Localize("ActivityItemHeader.Creator.Inactive.lbl")]</span>

            @if (Model.GroupInfo.HasValue)
            {
                <span class="feed__item-group">
                    <span class="feed__item-divider"> > </span>
                    <a href="@Model.GroupInfo.Value.Url">
                        @Model.GroupInfo.Value.Title
                        <em class="feed__item-tooltip">@Html.Localize("GroupActivity.lbl")</em>
                    </a>
                </span>
            }
            
            @if (Model.Location?.Address != null && Model.Location.ShortAddress != null)
            {
                @Html.Action("HeaderLink", "ActivityLocation", new { location = Model.Location })
            }
        </p>
    </div>
</header>