@using uIntra.Core.Extensions
@model uIntra.Comments.CommentPreviewModel

@{
    var showCount = Model.Count > 0 && !Model.IsReadOnly;
    var link = Model.IsReadOnly ? "" : Model.Link;
}

<span class="comments-preview @(showCount ? "_hasComments" : string.Empty) @(Model.IsExistsUserComment ? "_hasUserComment" : "") js-readonly-click-warning" data-is-readonly="@Model.IsReadOnly">
    <input type="hidden" name="readonlyClickTitle" value="@Html.Localize("Comments.ReadonlyClick.Title.lbl")" />
    <input type="hidden" name="readonlyClickMessage" value="@Html.Localize("Comments.ReadonlyClick.Message.lbl")" />

    <a class="comments-preview__link" href="@link"><i class="icon-comment"></i>@(showCount ? Model.Count.ToString() : Html.Localize("Comments.Empty.lbl"))</a>
</span>