@using uIntra.Core.Extentions
@model uIntra.News.NewsPreviewViewModel

<h3 class="block__subtitle">
    <a href="@Model.Links.Details">@Html.Raw(Model.Title)</a>
</h3>
<div class="clearfix">
    <span class="feed__item-category">@Html.Localize(Model.ActivityType.Name)</span>
</div>
<div class="block__about">
    <p class="block__about-item"><a href="@Model.Links.Creator">@Model.Creator.DisplayedName</a></p>
    <p class="block__about-item">@Model.PublishDate.ToDateTimeFormat()</p>
</div>