@using Uintra.Core.Extensions
@model Uintra.Groups.GroupsListModel

<input type="hidden" name="preventScrolling" value="@Convert.ToByte(Model.BlockScrolling)" />
<ul class="groups__list" id="groups_list">
    @foreach (var group in Model.Groups)
    {
        <li data-anchor="@group.Id" class="groups__list-item ">
            <a class="groups__list-link" href="@group.GroupUrl">

                @if (group.HasImage)
                {
                    <div class="groups__list-image">
                        <img class="img-responsive" src="@group.GroupImageUrl" alt="group image" />
                    </div>
                }
                else
                {
                    <div class="groups__list-image groups__list-image--avatar">
                        <div class="avatar">
                            <div class="avatar__letter">
                                @group.Creator.DisplayedName.First()
                            </div>
                        </div>
                    </div>
                }
                <div class="groups__list-holder">
                    @if (group.IsMember)
                    {
                        <span class="groups__member">
                            <svg class="svg-icon" viewBox="0 0 20 20" width="20px" height="20px">
                                <use xlink:href="#icon-checkmark" x="0" y="0"></use>
                            </svg>
                            <em class="groups__member-tooltip">@Html.Localize("GroupsList.isMember")</em>
                        </span>
                    }
                    <h2 class="groups__list-title">@group.Title</h2>
                    <div class="groups__list-txt">@Html.Raw(group.Description.ReplaceLineBreaksForHtml().StripHtmlAnchors())</div>
                    <dl class="groups__list-meta">
                        @if (group.MembersCount > 0)
                        {
                            <dt class="groups__list-meta-count"><span>@group.MembersCount</span> @(Html.Localize(group.MembersCount > 1 ? "GroupInfo.MembersCount.lbl" : "GroupInfo.OneMemberCount.lbl"))</dt>
                        }
                    </dl>
                </div>
            </a>
        </li>
    }
</ul>