@using System.Web.Mvc.Html
@using uCommunity.Core
@using uCommunity.Core.Activity
@using uCommunity.Core.Extentions
@model uCommunity.News.NewsViewModel
@{
    if (Model == null)
    {
        <div>News doesn't exists!</div>
        return;
    }

    <section class="content">
        <div class="row clearfix">
            <div class="col-md-9">
                <header class="content__header">
                    @*<a href="#" class="content__item-print hide"><i class="glyphicon glyphicon-print"></i>@Html.Localize("DetailsView.Print.lbl")</a>*@
                    @if (Model.CanEdit)
                    {
                        <a class="content__btn" href="@Model.EditPageUrl.UrlWithQueryString("id", @Model.Id)">@Html.Localize("DetailsView.Edit.lbl")</a>
                    }
                    @*<span class="content__item-label">@Html.Localize("DetailsView.Important.lbl")</span>*@
                    <a class="link__back" href="@($"{Context.GetBackLink(Model.OverviewPageUrl)}#{Model.Id}")">@Html.Localize("DetailsView.GoBal.lbl")</a>
                </header>

                <div class="content__item _details">
                    <header class="content__item-heading clearfix">
                        @*@if (!string.IsNullOrEmpty(Model.Creator.Photo))
                        {
                            <div class="content__item-avatar">
                                <a href="#">
                                    <img style="width: 60px; height: 60px;" class="content__item-avatar-img" src="@ImageHelper.GetImageSrcOrDefaultAsBase64(Model.Creator.Photo)"/>
                                </a>
                            </div>
                        }*@
                        <div class="content__item-title-holder">
                            <p class="content__item-meta">
                                <span class="content__item-date">@(Model.PublishDate.ToString(IntranetConstants.Common.DefaultDateFormat))</span>
                                <span class="content__item-divider"> - </span>
                                <span class="content__item-category">@Html.Localize(IntranetActivityTypeEnum.News), </span>
                                <span class="content__item-name">@Model.Creator.DisplayedName</span>
                                <span class="content__item-divider"> - </span>
 
                            </p>
                        </div>
                    </header>
                    <h2 class="content__item-title">@Model.Title</h2>
                    <div class="content__item-txt">
                        <p>
                            <b>@Model.Teaser</b>
                        </p>
                        @Html.Raw(Model.Description)
                    </div>
                    <div class="content__item-images">
                        @{ Html.RenderAction("RenderGallery", "LightboxGallery", new {mediaIds = Model.Media}); }
                    </div>
                </div>
            </div>
        </div>
    </section>
} 