@using Uintra.Core.Extensions
@using Compent.Extensions
@model Uintra.Navigation.TopNavigationViewModel

@{
    var userAvatar = Model.CurrentMember.Photo.HasValue() ? $"{Model.CurrentMember.Photo}?width=30&height=30&mode=crop" : string.Empty;
}

<a href="#" class="menu__burger js-menu-opener">
    <span class="menu__burger-line"></span>
    <span class="menu__burger-line"></span>
    <span class="menu__burger-line"></span>
</a>

<div class="holder">
    <div class="search-holder">
    </div>
    <div class="user">
        <a class="user__opener">
            @{
                if (userAvatar.IsNullOrEmpty())
                {
                    <div class="avatar__letter">
                        @Model.CurrentMember.DisplayedName.First()
                    </div>
                }
                else
                {
                    <img class="user__avatar-img" src="@userAvatar" width="30">
                }
            }
            <span class="user__opener-arrow"></span>
            <div class="greeting">
                <strong class="greeting__username">@Model.CurrentMember.DisplayedName</strong>
                <span class="greeting__role">@Model.CurrentMember.Role.Name</span>
            </div>
        </a>
        <ul class="user__menu">
            @{ Html.RenderAction("UmbracoContentLink", "Navigation"); }        
            <li class="user__menu-item">
                <a class="user__menu-link js-logout" href="@Url.Action("Logout", "NavigationAuthorization")">
                    <span class="icon icon-logout">
                        <svg class="svg-icon" viewBox="0 0 1792 1792" width="22px" height="19px">
                            <use xlink:href="#icon-logout" x="0" y="0"></use>
                        </svg>
                    </span>
                    @Html.Localize("TopNavigation.Logout.lbl")
                </a>
            </li>
        </ul>
    </div>
</div>