@using uIntra.Core.Extensions
@model uIntra.Navigation.TopNavigationViewModel

@{
    var userAvatar = Model.CurrentUser.Photo.IsNotNullOrEmpty() ? "_with-avatar" : "";
}

<div class="menu _for-mobile">
    <div class="menu__burger js-menu-opener">
        <span class="menu__burger-line"></span>
        <span class="menu__burger-line"></span>
        <span class="menu__burger-line"></span>
    </div>
</div>
<div class="holder">
    <div class="row clearfix">
        <div class="col-sm-8">
            <div class="search-holder">
            </div>
        </div>
        <div class="col-sm-4 _for-desktop">
            <div class="user">
                <a class="user__opener icon-user @userAvatar">
                    <div class="user__avatar">
                        <img class="user__avatar-img" src="@Model.CurrentUser.Photo?width=30" width="30">
                    </div>
                    <span class="user__opener-arrow"></span>
                    <div class="greeting">
                        <strong class="greeting__username">@Model.CurrentUser.DisplayedName</strong>
                        <span class="greeting__role">@Model.CurrentUser.Role.Name</span>
                    </div>
                </a>
                <ul class="user__menu">
                    @if (Model.CurrentUser.UmbracoId.HasValue)
                    {
                        <li class="user__menu-item">
                            <a class="user__menu-link" href="@Url.Action("LoginToUmbraco", "NavigationAuthorization")">
                                <span class="icon icon-umbraco"></span>
                                @Html.Localize("TopNavigation.LoginToUmbraco.lbl")
                            </a>
                        </li>
                    }
                    <li class="user__menu-item">
                        <a class="user__menu-link js-logout" href="@Url.Action("Logout", "NavigationAuthorization")">
                            <span class="icon icon-logout"></span>
                            @Html.Localize("TopNavigation.Logout.lbl")
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>