@using Uintra.Core.Extensions
@using Compent.Extensions
@model Uintra.Navigation.TopNavigationViewModel

@{
    var userAvatarClass = Model.CurrentUser.Photo.HasValue() ? "_with-avatar" : string.Empty;
    var userAvatar = Model.CurrentUser.Photo.HasValue() ? $"{Model.CurrentUser.Photo}?width=30&height=30&mode=crop" : string.Empty;
}

<a href="#" class="menu__burger js-menu-opener">
    <span class="menu__burger-line"></span>
    <span class="menu__burger-line"></span>
    <span class="menu__burger-line"></span>
</a>

<div class="holder">
    <div class="search-holder">
    </div>
    <div class="user">
        <a class="user__opener icon-user @userAvatarClass">
            <!--UC-2540 Users profile photo should show initials in case if photo is not added-->
            @{
                if (userAvatar.IsNullOrEmpty())
                {
                    <div class="avatar">
                        <div class="avatar__letter">
                            @Model.CurrentUser.DisplayedName.First()
                        </div>
                    </div>
                }
                else
                {
                    <img class="user__avatar-img" src="@userAvatar" width="30">
                }
            }
            <span class="user__opener-arrow"></span>
            <div class="greeting">
                <strong class="greeting__username">@Model.CurrentUser.DisplayedName</strong>
                <span class="greeting__role">@Model.CurrentUser.Role.Name</span>
            </div>
        </a>
        <ul class="user__menu">
            @if (Model.CurrentUser.UmbracoId.HasValue)
        {
            <li class="user__menu-item">
                <a class="user__menu-link" href="@Url.Action("LoginToUmbraco", "NavigationAuthorization")">
                    <span class="icon icon-umbraco">
                        <svg class="svg-icon" viewBox="0 0 300 300" width="29px" height="29px">
                            <use xlink:href="#icon-umbraco" x="0" y="0"></use>
                        </svg>
                    </span>
                    @Html.Localize("TopNavigation.LoginToUmbraco.lbl")
                </a>
            </li>
    }
            <li class="user__menu-item">
                <a class="user__menu-link js-logout" href="@Url.Action("Logout", "NavigationAuthorization")">
                    <span class="icon icon-logout">
                        <svg class="svg-icon" viewBox="0 0 1792 1792" width="22px" height="19px">
                            <use xlink:href="#icon-logout" x="0" y="0"></use>
                        </svg>
                    </span>
                    @Html.Localize("TopNavigation.Logout.lbl")
                </a>
            </li>
        </ul>
    </div>
</div>