@model uCommunity.Navigation.DefaultImplementation.SubNavigationMenuViewModel

@if (Model != null)
{
    <nav class="tabset">
        <a id="js-sidepanel-opener" class="sidebar__opener _for-mobile"></a>

        <div class="tabset__holder">
            @if (Model.Parent != null)
            {
                <h1 class="tabset__title">
                    <a class="tabset__title-link" href="@Model.Parent.Url">@Model.Parent.Name</a>
                </h1>
            }

            else
            {
                <h1 class="tabset__title _no-link">@Model.Title</h1>
            }

            @if (Model.Items.Count > 0)
            {
                <ul class="tabset__navigation">
                    @if (Model.Parent == null)
                    {
                        <li class="tabset__navigation-item _for-mobile">
                            <a class="tabset__navigation-link">@Model.Title</a>
                        </li>
                    }
                    @foreach (var item in Model.Items)
                    {
                        <li class="tabset__navigation-item @(item.IsActive ? "_active" : "")">
                            <a class="tabset__navigation-link" href="@item.Url">@item.Name</a>
                        </li>
                    }
                </ul>
            }
        </div>
    </nav>
}