@using System.Web.Mvc.Html
@using uIntra.Core.Activity
@using uIntra.Core.Extentions
@model uIntra.Bulletins.BulletinViewModel

<section class="content">
    <div class="row clearfix">
        <div class="col-md-9">
            <div class="feed__btns clearfix">
                <a href="#" class="btn pull-right hide"><i class="glyphicon glyphicon-print"></i>@Html.Localize("DetailsView.Print.lbl")</a>
                @if (Model.CanEdit)
                {
                    <a class="btn pull-right" href="@ViewData.GetActivityEditPageUrl(IntranetActivityTypeEnum.Bulletins, Model.Id)">@Html.Localize("DetailsView.Edit.lbl")</a>
                }
                <a class="link__back" href="@($"{Context.GetBackLink(ViewData.GetActivityOverviewPageUrl(IntranetActivityTypeEnum.Bulletins))}#{Model.Id}")">@Html.Localize("DetailsView.GoBal.lbl")</a>
            </div>
            <div class="feed__item _details">
                <span class="pinned__item">@Html.Localize("DetailsView.Important.lbl")</span>
                @Html.Partial("~/App_Plugins/Bulletins/Details/ActivityDetailsHeader.cshtml", Model.HeaderInfo)
                <div class="feed__item-txt">
                    @Html.Raw(Model.Description)
                </div>
                <div class="feed__item-images">
                    @{ Html.RenderAction("RenderGallery", "LightboxGallery", new { mediaIds = Model.Media }); }
                </div>
            </div>
        </div>
    </div>
</section>