@using TeamDenmark.Intranet.Core
@using TeamDenmark.Intranet.Core.Extentions
@using TeamDenmark.Intranet.Core.Users
@using uCommunity.Core
@using uCommunity.Core.Controls.FileUpload.Core
@using uCommunity.Core.Extentions
@using uCommunity.Core.User
@model uCommunity.News.DefaultImplementation.Models.NewsEditModel
@{
    var currentUser = HttpContext.Current.GetCurrentUser();
    var cultureDateFormat = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern;
}

<div class="form" id="js-news-edit-page">
    @using (Html.BeginUmbracoForm("Edit", "News"))
    {
        <h1 class="form__title">@Html.Localize("NewsEdit.Title.lbl")</h1>
        <input type="hidden" name="id" value="@Model.Id"/>
        <div class="form__row clearfix">
            <label class="form__label" for="js-user-select">@Html.Localize("NewsEdit.Creator.lbl")</label>
            @if (currentUser.Role == IntranetRolesEnum.WebMaster)
            {
                <select class="form-control" name="creatorId" id="js-user-select">
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.Id" selected="@(user.Id == Model.CreatorId)">@user.Name</option>
                    }
                </select>
            }
            else
            {
                @RenderStaticUser(currentUser)
            }
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="title">@Html.Localize("NewsEdit.Title.lbl") <span class="form__required">*</span></label>
            <input class="form__input" id="title" type="text" name="title" value="@(Model.Title)"
                   data-val-required="@Html.Localize("NewsEdit.TitleRequired.lbl")" data-val-length-max="200" data-val-length="@Html.Localize("NewsEdit.TitleMaxLength.lbl")"
                   data-val="true" />
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="teaser">@Html.Localize("NewsEdit.Teaser.lbl") <span class="form__required">*</span></label>
            <textarea class="form__textarea" id="teaser" name="teaser" data-val-required="@Html.Localize("NewsEdit.TeaserRequired.lbl")" data-val-length-max="4000" data-val-length="@Html.Localize("NewsEdit.TeaserMaxLength.lbl")" data-val="true">@Html.Raw(Model.Teaser)</textarea>
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="description">@Html.Localize("NewsEdit.Description.lbl") <span class="form__required">*</span></label>
            <div id="description">
                @Html.Raw(Model.Description)
            </div>
            <input type="hidden" id="js-hidden-description-container" name="description" value="@(Model.Description)"
                    data-val-required="@Html.Localize("NewsEdit.DescriptionRequired.lbl")" data-val="true" />
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="js-publish-date">@Html.Localize("NewsEdit.PublishDate.lbl")</label>
            <input class="form__input" id="js-publish-date" data-default-date="@Model.PublishDate"  data-date-format="@GlobalConstants.Common.DefaultDatePickerFormat"/>
            <input type="hidden" id="js-publish-date-value" name="publishDate" value="@Model.PublishDate.ToString(cultureDateFormat)" data-date-format="@cultureDateFormat" data-val-required="@Html.Localize("NewsEdit.PublishDateRequired.lbl")" data-val="true"  />
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="file-upload">@Html.Localize("NewsEdit.UploadFiles.lbl")</label>
            @{
                var settings = new FileUploadSettins { AllowedExtentions = Model.AllowedMediaExtentions };
                Html.RenderAction("Editor", "FileUpload", new { Settings = settings, Model = Model?.Media });
            }
        </div>
        <div class="form__row clearfix">
            @Html.ValidationSummary()
        </div>
        <div class="form__row clearfix">
            <input type="hidden" name="mediaRootId" value="@Model.MediaRootId" />
            <input class="form__btn _black _submit" type="submit" value="@Html.Localize("NewsEdit.Edit.btn")" />
            <a class="form__btn _default" href="@(Context.GetBackLink($"{ViewData["DetailsPageUrl"]}?Id={Model.Id}"))">@Html.Localize("Common.Cancel.lnk")</a>
        </div>
    }
</div>

@helper RenderStaticUser(IntranetUser user)
{
    <input type="hidden" name="creatorId" value="@user.Id" />
    <img src="@ImageHelper.GetImageSrcOrDefaultAsBase64(user.Photo)" />
    <span>@user.Name</span>
    <span>@user.Jobs.JoinWithSeparator(", ") @(user.Jobs.Any() && user.Teams.Any() ? "|" : "") @user.Teams.JoinWithSeparator(", ")</span>
}
