@using Compent.Shared.Extensions.Bcl @model UBaseline.Core.IndexPage.IndexPageModel
<!doctype html>
<html lang="en">
<head>
    @Html.Raw(Model.HeaderScript)
    @Html.Raw(Model.HeaderLocalScript)
    <meta charset="utf-8">
    <base href="/">
    <title>@Model.Title</title>

    @if (Model.MetaData != null)
    {
        <meta name="title" content="@Model.MetaData.MetaTitle">
        <meta name="description" content="@Model.MetaData.MetaDescription">
        <meta property="og:title" content="@Model.MetaData.SocialTitle">
        <meta property="og:description" content="@Model.MetaData.SocialDescription">
        if (Model.MetaData.SocialImageUrl.HasValue())
        {
            <meta property="og:image" content="@Model.MetaData.SocialImageUrl">
        }
        <link rel="canonical" href="@Model.MetaData.CanonicalUrl" />
    }
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
    
<link rel="stylesheet" href="/wwwroot/styles.e8cd15b48cca3d5c3e56.css"></head>
<body>
    @Html.Raw(Model.BodyScript)
    @Html.Raw(Model.BodyLocalScript)
    <app-root></app-root>
    @Html.Raw(Model.FooterScript)

    @Html.Raw(Model.FooterLocalScript)
    
    
    
    
    
<script src="/wwwroot/runtime.f27091e6cd3feb5e32da.js" defer></script><script src="/wwwroot/polyfills-es5.4bd6c6be61609f914b35.js" nomodule defer></script><script src="/wwwroot/polyfills.4d5e901eb80a119f268d.js" defer></script><script src="/wwwroot/scripts.755336941a50856dad23.js" defer></script><script src="/wwwroot/main.e2ecaf32857bb808c725.js" defer></script></body>
</html>
