@using Compent.Shared.Extensions.Bcl @model UBaseline.Core.IndexPage.IndexPageModel
<!doctype html>
<html lang="en">
<head>
  @Html.Raw(Model.HeaderScript)
  @Html.Raw(Model.HeaderLocalScript)
  <meta charset="utf-8">
  <base href="/">
  <title>@Model.Title</title>
  
            @if (Model.MetaData != null)
            {
              <meta name="title" content="@Model.MetaData.MetaTitle">
              <meta name="description" content="@Model.MetaData.MetaDescription">
              <meta property="og:title" content="@Model.MetaData.SocialTitle">
              <meta property="og:description" content="@Model.MetaData.SocialDescription">
              if (Model.MetaData.SocialImageUrl.HasValue())
              {
                <meta property="og:image" content="@Model.MetaData.SocialImageUrl">
              }
              <link rel="canonical" href="@Model.MetaData.CanonicalUrl" />
            }
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="wwwroot/favicon.ico">
<link rel="stylesheet" href="/wwwroot/styles.4285c929b142beefab46.css"></head>
<body>
  @Html.Raw(Model.BodyScript)
  @Html.Raw(Model.BodyLocalScript)
  <app-root></app-root>
  @Html.Raw(Model.FooterScript)
  @Html.Raw(Model.FooterLocalScript)
<script src="/wwwroot/runtime-es2015.76ce65c2cf9652c0830a.js" type="module"></script><script src="/wwwroot/runtime-es5.76ce65c2cf9652c0830a.js" nomodule defer></script><script src="/wwwroot/polyfills-es5.6696c533341b95a3d617.js" nomodule defer></script><script src="/wwwroot/polyfills-es2015.2987770fde9daa1d8a2e.js" type="module"></script><script src="/wwwroot/main-es2015.7d12bb66539cf3e2dd53.js" type="module"></script><script src="/wwwroot/main-es5.7d12bb66539cf3e2dd53.js" nomodule defer></script></body>
</html>
