@using uIntra.Navigation;
@model uIntra.Navigation.SubNavigationMenuViewModel

@if (Model != null && (Model.ShowBreadcrumbs || Model.Rows.Any()))
{
    var hasRows = Model.Rows.Skip(1).ToList().Count > 0;

    <nav class='tabset @(hasRows ? "_hasRows" : String.Empty)'>
        <div class="tabset__holder">

            @if (Model.ShowBreadcrumbs)
            {
                Html.RenderAction("Breadcrumbs", "Navigation");
            }

            @if (Model.Rows.Any())
            {
                <div class="tabset__frame">
                    <a id="js-sidepanel-opener" class="sidebar__opener _for-mobile"></a>
                    @{ 
                        var topLevelMenu = Model.Rows.First();
                        if (topLevelMenu.Items.Count > 0)
                        {
                            var lowLevelMenuRows = Model.Rows.Skip(1).ToList();

                            <ul class="tabset__navigation clearfix js-sub-navigation">
                                @foreach (var menuItem in topLevelMenu.Items)
                                {
                                    var isActive = menuItem.IsActive ? "_active" : string.Empty;
                                    var isSelected = menuItem.IsSelected ? "_selected" : string.Empty;

                                    <li class="tabset__navigation-item @isActive @isSelected">
                                        <a class="tabset__navigation-link" href="@menuItem.Url">@menuItem.Name</a>
                                    </li>
                                }
                            </ul>

                            if (lowLevelMenuRows.Count > 0)
                            {
                                <div class="tabset__inner">
                                    @foreach (var menuRow in lowLevelMenuRows)
                                    {
                                        if (menuRow.Items.Count > 0)
                                        {
                                            <ul class="tabset__navigation clearfix">
                                                @foreach (var innerMenuItem in menuRow.Items)
                                                {
                                                    var isActiveInner = innerMenuItem.IsActive ? "_active" : string.Empty;
                                                    var isSelectedInner = innerMenuItem.IsSelected ? "_selected" : string.Empty;

                                                    <li class="tabset__navigation-item @isActiveInner @isSelectedInner">
                                                        <a class="tabset__navigation-link" href="@innerMenuItem.Url">@innerMenuItem.Name</a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    }
                                </div>
                            }
                        }
                    }
                </div>
            }
        </div>
    </nav>
}