@model uIntra.Core.Activity.IntranetActivityCreatorEditModel

@if (Model.CanEditCreator)
{
    <select class="js-user-select form-control" name="@Model.CreatorIdPropertyName">
        @foreach (var user in Model.Users)
        {
            <option value="@user.Id" selected="@(user.Id == Model.Creator.Id)">@user.DisplayedName</option>
        }
    </select>
}
else
{
    <input type="hidden" name="@Model.CreatorIdPropertyName" value="@Model.Creator.Id" />
    <div class="form__avatar">
        <img width="60" class="form__avatar-img" src="@Model.Creator.Photo" />
    </div>
    <span>@Model.Creator.DisplayedName</span>
}