@using Uintra.Core.Permissions
@using Uintra.Core.Controls.FileUpload
@using Uintra.Core.Extensions;
@using Uintra.Subscribe
@using Umbraco.Web
@model Compent.Uintra.Core.Events.EventExtendedCreateModel

<div class="form js-check-before-unload" id="js-events-create-page">
    @using (Html.BeginUmbracoForm("CreateExtended", "Events", FormMethod.Post, new { id = "createForm" }))
    {
        <h1 class="form__title">@Html.Localize("EventsCreatePage.Title.lbl")</h1>
        <div class="form__row clearfix">
            <label class="form__label">@Html.Localize("EventsCreate.Owner.lbl")</label>
            @Html.Action("OwnerEdit", "Activity", new { ownerId = Model.OwnerId, ownerIdPropertyName = nameof(Model.OwnerId), activityType = PermissionResourceTypeEnum.Events, links = Model.Links })
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="title">@Html.Localize("EventsCreate.Title.lbl") <span class="form__required">*</span></label>
            <input class="form__input" id="title" type="text" name="title" value="@(Model.Title)"
                   placeholder="@Html.Localize("Events.Title.placeholder")"
                   data-val-required="@Html.Localize("CreateEvents.TitleRequired.lbl")"
                   data-val-length-max="400"
                   data-val-length="@string.Format(Html.Localize("CreateEvents.TitleMaxLength.lbl"), 400)"
                   data-val="true" />
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="description">@Html.Localize("EventsCreate.Description.lbl") <span class="form__required">*</span></label>
            <div id="description">
                @Html.Raw(Model.Description)
            </div>
            <input type="hidden" id="js-hidden-description-container" name="description"
                   value="@(Model.Description)"
                   data-val-required="@Html.Localize("CreateEvents.DescriptionRequired.lbl")"
                   data-val="true" />
        </div>
        <div class="form__row clearfix">
            @Html.Action("TagPicker", "UserTags", new { })
        </div>
        <div class="form__row clearfix">
            <div class="row">
                <div class="col-md-6">
                    <label class="form__label" for="js-start-date">@Html.Localize("EventsCreate.StartDate.lbl")</label>
                    <input class="form__input" id="js-start-date" data-default-date="@Model.StartDate.ToDateTimeValuePickerFormat()" data-date-format="@Html.GetDateTimePickerFormat()" />
                    <input type="hidden" id="js-start-date-value" name="startDate" data-val-required="@Html.Localize("EventsEdit.StartDateRequired.lbl")" data-val="true" />
                    <span class="form__clear js-clear-date hide">
                        <svg class="svg-icon" viewBox="0 0 20 20" width="10px" height="10px">
                            <use xlink:href="#icon-close" x="0" y="0"></use>
                        </svg>
                    </span>
                </div>
                <div class="col-md-6">
                    <label class="form__label" for="js-end-date">@Html.Localize("EventsCreate.EndDate.lbl")</label>
                    <input class="form__input" id="js-end-date" data-default-date="@Model.EndDate.ToDateTimeValuePickerFormat()" data-date-format="@Html.GetDateTimePickerFormat()" />
                    <input type="hidden" id="js-end-date-value" name="endDate" data-val-greaterthan="@Html.Localize("EventsEdit.EndDateShouldBeGreaterThanStartDate.lbl")" data-val-greaterthan-startdate="js-start-date-value" data-val-required="@Html.Localize("EventsEdit.EndDateRequired.lbl")" data-val="true" />
                    <span class="form__clear js-clear-date hide">
                        <svg class="svg-icon" viewBox="0 0 20 20" width="10px" height="10px">
                            <use xlink:href="#icon-close" x="0" y="0"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
        <div class="form__row clearfix">
            <div class="row">
                <div class="col-md-12">
                    <label class="form__label" for="js-publish-date">@Html.Localize("EventsCreate.PublishDate.lbl")</label>
                    <input class="form__input" id="js-publish-date" data-default-date="@Model.PublishDate.ToDateTimeValuePickerFormat()" data-date-format="@Html.GetDateTimePickerFormat()" />
                    <input type="hidden" id="js-publish-date-value" name="publishDate" data-val-required="@Html.Localize("EventsCreate.PublishDateRequired.lbl")" data-val="true" />
                    <span class="form__clear js-clear-date hide">
                        <svg class="svg-icon" viewBox="0 0 20 20" width="10px" height="10px">
                            <use xlink:href="#icon-close" x="0" y="0"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="locationTitle">@Html.Localize("EventsEdit.LocationTitle.lbl")</label>
            <input class="form__input" id="locationTitle" type="text" name="locationTitle" value="@(Model.LocationTitle)" placeholder="@Html.Localize("EventsEdit.LocationTitlePlaceholder.lbl")"
                   data-val-length-max="200" data-val-length="@string.Format(Html.Localize("EventsEdit.LocationTitleMaxLength.lbl"), 200)" data-val="true" />
        </div>
        <div class="form__row">
            @Html.Label("Location", Html.Localize("Activity.Location.lbl"), new { @class = "form__label" })
            @Html.Action("Edit", "ActivityLocation")
        </div>
        if (Model.PinAllowed)
        {
            <div class="form__row clearfix">
                @Html.Action("PinActivity", "Activity", new { isPinned = false })
            </div>    
        }
        <div class="form__row clearfix">
            @{ Html.RenderAction("ActivitySubscribeSettings", "Subscribe", new ActivitySubscribeSettingsModel
                {
                    CanSubscribe = Model.CanSubscribe,
                    CanEditSubscribe = Model.CanEditSubscribe,
                    SubscribeNotes = Model.SubscribeNotes
                });}
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="file-upload">@Html.Localize("EventsCreate.UploadFiles.lbl")</label>
            @{
                var settings = new FileUploadSettings { AllowedExtensions = ViewData["AllowedMediaExtensions"] as string };
                Html.RenderAction("Uploader", "FileUpload", new { Settings = settings, Model = Model?.Media });
            }
        </div>
        @Html.ValidationSummary()
        <div class="form__row form__row--no-indent clearfix">
            @Html.PassLinks(Model.Links)
            <input type="hidden" name="mediaRootId" value="@Model.MediaRootId" />
            <input class="btn _submit js-disable-submit" type="button" value="@Html.Localize("EventsCreate.Create.btn")" />
            <a class="btn _default" href="@Context.GetBackLink(Model.Links.Overview)">@Html.Localize("Common.Cancel.lnk")</a>
        </div>
    }
</div>