@using uIntra.Core.Extensions
@model Compent.uIntra.Core.Events.EventExtendedItemModel
@{
    var currentPinnedClass = Model.IsPinActual ? "_pinned" : "";
}
<div class="feed__item @currentPinnedClass">
    <div class="clearfix">
        @if (Model.IsPinned || Model.IsPinActual)
        {
            <span class="pinned__item">@Html.Localize("Activity.Pinned.lbl")</span>
        }
        @Html.Action("ItemHeader", "Activity", new { header = Model.HeaderInfo })
        @if (Model.IsSubscribed)
        {
            <span class="feed__item-subscribed js-feed__item-subscribed"><i class="icon-check"></i> @Html.Localize("CentralFeed.IsSubscribed.lbl")</span>
        }
    </div>
    <div class="feed__item-image"> </div>
    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <div class="feed__item-txt _clamp" data-url="@Model.Links.Details">@Html.Raw(Model.Description)</div>
    }
    <div class="feed__item-images">
        @{ Html.RenderAction("Preview", "LightboxGallery", new { model = Model.LightboxGalleryPreviewInfo }); }
    </div>
    <div class="feed__item-feed">
        <div class="feed__item-feed-holder">
            @{ Html.RenderAction("Likes", "Likes", new { likesInfo = Model.LikesInfo }); }
            @{ Html.RenderAction("Preview", "Comments", new { activityId = Model.Id, link = Model.Links.Details, isReadOnly = Model.IsReadOnly }); }
        </div>
    </div>
</div>