@using uCommunity.Core.Extentions
@using uCommunity.Navigation.DefaultImplementation
@model MyLinksViewModel

<ul class="side-nav">
    <li class="side-nav__item js-side-nav__item">
        <a class="side-nav__link">@Html.Localize("Links.Menu.lbl")</a>
        <span class="side-nav__arrow js-side-nav__opener"></span>
        <ul class="side-nav js-myLinks-container">
            @{ Html.RenderAction("List", "MyLinks", new { model = @Model.Links }); }
        </ul>
    </li>
    <li class="side-nav__item">
        <a class="side-nav__link js-myLinks-add" style="@(Model.IsLinked ? "display:none;" : String.Empty)" " data-content-id="@Model.ContentId">@Html.Localize("MyLinks.Add.lbl")</a>
        <a class="side-nav__link js-myLinks-remove" style="@(Model.IsLinked ? string.Empty : "display:none;")" data-id="@Model.Id">@Html.Localize("MyLinks.Remove.lbl")</a>
    </li>
</ul>