@using uCommunity.Core.Extentions
@using uCommunity.Navigation.DefaultImplementation
@using umbraco.NodeFactory
@model MyLinksViewModel
@*@{
    var pageName = Model.PageName;
    if (pageName.IsNullOrEmpty() && Model.PageTitleNodePropertyAlias.IsNotNullOrEmpty())
    {
        pageName = Node.GetCurrent().GetProperty(Model.PageTitleNodePropertyAlias).Value;
    }
}

<ul class="side-nav js-my-links__opener" id="myLinksContainer">
    <span>@Html.Localize("MyLinks.Menu.lbl")</span>
    <span class="side-nav__arrow"></span>

    @foreach (var item in Model.MyLinks)
    {
        <li class="side-nav__item">
            <a class="side-nav__link" href="@item.Url">
                @item.Name
            </a>
        </li>
    }

    <li class="side-nav__item">
        <span class="@(Model.IsLinked ? "_isLinked" : "")"><i class="@(Model.IsLinked ? "myLinks_remove" : "myLinks_add")"></i></span>
        @Ajax.ActionLink(Model.IsLinked ? Html.Localize("MyLinks.Remove.lbl") : Html.Localize("MyLinks.Add.lbl"),
            "AddRemoveMyLink",
            "Navigation",
            new {pageName = pageName},
            new AjaxOptions {HttpMethod = "Post", UpdateTargetId = "myLinksContainer", InsertionMode = InsertionMode.ReplaceWith, OnSuccess = "$('#mylinkIcon').find('span').toggleClass('_isLinked');" },
            new {@class = "side-nav__link", id = "myLinks_addRemove"})
    </li>
</ul>*@
