@using uIntra.Navigation;
@model uIntra.Navigation.SubNavigationMenuViewModel

@if (Model != null)
{
    <nav class="tabset">
        <a id="js-sidepanel-opener" class="sidebar__opener _for-mobile"></a>

        <div class="tabset__holder">
            @if (!Model.IsTitleHidden)
            {
                if (Model.Parent != null)
                {
                    <h1 class="tabset__title">
                        <a class="tabset__title-link" href="@Model.Parent.Url">@Model.Parent.Name</a>
                    </h1>
                }
                else
                {
                    <h1 class="tabset__title _no-link">@Model.Title</h1>
                }
            }

            @if (Model.ShowBreadcrumbs)
            {
                Html.RenderAction("Breadcrumbs", "Navigation");
            }

            @if (Model.Rows.Any())
            {
                var topLevelMenu = Model.Rows.First();
                if (topLevelMenu.Items.Count > 0)
                {
                    <ul>
                        @foreach (var menuItem in topLevelMenu.Items)
                        {
                            var isActive = menuItem.IsActive ? "_active" : string.Empty;
                            var isSelected = menuItem.IsSelected ? "_selected" : string.Empty;

                            <li class="@isActive @isSelected">
                                <a href="@menuItem.Url">@menuItem.Name</a>
                            </li>
                        }
                    </ul>
                }

                var lowLevelMenuRows = Model.Rows.Skip(1).ToList();
                if (lowLevelMenuRows.Count > 0)
                {
                    foreach (var menuRow in lowLevelMenuRows)
                    {
                        if (menuRow.Items.Count > 0)
                        {
                            <ul class="tabset__navigation clearfix">
                                @foreach (var menuItem in menuRow.Items)
                                {
                                    var isActive = menuItem.IsActive ? "_active" : string.Empty;
                                    var isSelected = menuItem.IsSelected ? "_selected" : string.Empty;

                                    <li class="tabset__navigation-item @isActive @isSelected">
                                        <a class="tabset__navigation-link" href="@menuItem.Url">@menuItem.Name</a>
                                    </li>
                                }
                            </ul>
                        }
                    }
                }
            }
        </div>
    </nav>
}