@using System.Web.Mvc.Html
@using Uintra.Core.Extensions
@model Uintra.Bulletins.BulletinViewModel

<section class="content">
    <div class="feed__btns clearfix">
        <a href="#" class="btn pull-right hide"><i class="glyphicon glyphicon-print"></i>@Html.Localize("DetailsView.Print.lbl")</a>
        @if (Model.CanEdit)
        {
            <a class="btn pull-right _edit-bulletin" href="@Model.Links.Edit">@Html.Localize("DetailsView.Edit.lbl")</a>
        }
        <a class="link__back" href="/">
            <svg class="svg-icon" viewBox="0 0 32 32" width="21px" height="17px">
                <use xlink:href="#icon-back-arrow" x="0" y="0"></use>
            </svg>@Html.Localize("DetailsView.GoToList.lbl")</a>
    </div>
    <div class="feed__item _details">
        @{ Html.RenderAction("DetailsHeader", "Activity", Model.HeaderInfo); }
        <div class="feed__item-txt">
            @Html.Raw(Model.Description)
        </div>
        <div class="feed__item-images">
            @{ Html.RenderAction("RenderGallery", "LightboxGallery", new {mediaIds = Model.Media}); }
        </div>
    </div>
</section>