@using System.Web.Mvc.Html
@model Uintra.Core.Activity.IntranetActivityOwnerEditModel

@if (Model.CanEditOwner)
{
    <select class="js-user-select form-control" name="@Model.OwnerIdPropertyName">
        @foreach (var member in Model.Members)
        {
            <option value="@member.Id" selected="@(member.Id == Model.Owner.Id)">@member.DisplayedName</option>
        }
    </select>
}
else
{
    <input type="hidden" name="@Model.OwnerIdPropertyName" value="@Model.Owner.Id" />
    @Html.Action("Photo", "Member", new
    {
        user = Model.Owner,
        profilePageUrl = Model.Links.Owner
    })
    <span>@Model.Owner.DisplayedName</span>
}