@using System.Web.Mvc.Html
@using Uintra.Core.Extensions
@model Uintra.Core.Activity.IntranetPinActivityModel

<div class="check">
    <label class="form__label">@Html.Localize("Pin.Activity.lbl")</label>
    <label class="check__label">
        @Html.CheckBox("IsPinned", new { @class = "pin-control check__box" })
        <span class="check__fake-input">
            <svg class="svg-icon" viewBox="0 0 512 512" width="13px" height="13px">
                <use xlink:href="#icon-check" x="0" y="0"></use>
            </svg>
        </span>
        <span class="check__fake-label">@Html.Localize("Pin.SetPinned.lbl")</span>
    </label>
    <div class="pin-info" id="pin-info">
        <div class="pin-info__box">
            <label class="check__label">
                <span class="check__fake-label pin-info__text">@Html.Localize("Pin.AcceptPinText.lbl")</span>
                <label class="check__label">
                    <input type="checkbox" class="check__box pin-accept" />
                    <span class="check__fake-input">
                        <svg class="svg-icon" viewBox="0 0 512 512" width="13px" height="13px">
                            <use xlink:href="#icon-check" x="0" y="0"></use>
                        </svg>
                    </span>
                    <span class="check__fake-label">@Html.Localize("Pin.AcceptPin.lbl")</span>
                </label>
            </label>
        </div>
        <div class="pin-info__holder">
            <label class="form__label" for="js-endpin-date">@Html.Localize("Pin.EndPinDate.lbl")</label>
            <input class="form__input js-endpin-date" id="js-endpin-date" data-default-date="@(Model.EndPinDate?.ToDateTimeValuePickerFormat())" data-date-format="@Html.GetDateTimePickerFormat()" data-enable-time="true" />
            <input type="hidden" class="js-endpin-date-value" name="endPinDate" data-val="true" data-val-required="@Html.Localize("CreateActivity.EndPinDateRequired.lbl")" />
            <span class="js-clear-endpin-date form__clear icon-close"></span>
        </div>
    </div>
</div>