@using System
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using uIntra.Core.Extentions
@model uIntra.Core.Controls.PinActivity.PinActivityModel

<div class="check">
    <label class="check__label">
        @Html.CheckBox("IsPinned", new { @id = "pin-control", @class = "check__box" })
        <span class="check__fake-input icon-check"></span>
        <span class="check__fake-label">@Html.Localize("Pin.SetPinned.lbl")</span>
    </label>
    <div class="pin-info" id="pin-info">
        <div class="pin-info__box">
            <label class="check__label">
                <span class="check__fake-label pin-info__text">@Html.Localize("Pin.AcceptPinText.lbl")</span>
                <label class="check__label">
                    <input type="checkbox" class="check__box" id="pin-accept" />
                    <span class="check__fake-input icon-check"></span>
                    <span class="check__fake-label">@Html.Localize("Pin.AcceptPin.lbl")</span>
                </label>
            </label>
        </div>
        <div class="pin-info__holder">
            <label class="form__label" for="js-endpin-date">@Html.Localize("Pin.EndPinDate.lbl")</label>
            <input class="form__input" id="js-endpin-date" data-default-date="@(Model.EndPinDate?.ToDateTimeValuePickerFormat())" data-date-format="@Html.GetDateTimePickerFormat()" />
            <input type="hidden" id="js-endpin-date-value" name="endPinDate" data-val="true" />
            <span class="js-clear-endpin-date form__clear icon-close"></span>
        </div>
    </div>
</div>