@using System
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using uIntra.Core.Extentions
@model uIntra.Core.Controls.PinActivity.PinActivityModel

<div class="check">
    <label class="check__label">
        @Html.CheckBox("IsPinned", new { @id = "pin-control", @class = "check__box" })
        <span class="check__fake-input icon-check"></span>
        <span class="check__fake-label">@Html.Localize("NewsCreate.SetPinned.lbl")</span>
    </label>
    <div id="pin-info">
        @Html.Localize("NewsCreate.PinActivityMessage.lbl")
        @{
            var daysRange = Enumerable.Range(@Model.RangeStart, @Model.RangeEnd);
            var listOfDays = new List<SelectListItem>() { new SelectListItem() { Value = 0.ToString(), Text = "None"} };
            listOfDays.AddRange(daysRange.Select(d => new SelectListItem() { Text = d.ToString() }));
            @Html.DropDownList("PinDays", listOfDays)
        }
        <label class="check__label">
            <label class="check__label">
                <input type="checkbox" class="check__box" id="pin-accept" />
                <span class="check__fake-input icon-check"></span>
                <span class="check__fake-label">@Html.Localize("NewsCreate.AcceptPin.lbl")</span>
            </label>
        </label>
    </div>
</div>