@using System.Web.Mvc.Html
@using uIntra.CentralFeed
@using uIntra.Core.Extentions
@model CentralFeedListViewModel

@{
    var tabSettings = Model.Settings.First(s => s.Type.GetHashCode() == Model.Type.GetHashCode());
}

<input type="hidden" name="preventScrolling" value="@Convert.ToByte(Model.BlockScrolling)" />
<input type="hidden" name="version" value="@Model.Version" />

<div class="content__filter">
    <div class="row clearfix">
        <div class="col-md-3" style="display: @(tabSettings.HasSubscribersFilter ? "block" : "none") ">
            <div class="check">
                <label class="check__label">
                    <input type="checkbox" class="check__box" name="showSubscribed" @(Model.ShowSubscribed ? "checked" : "") value="true">
                    <span class="check__fake-input icon-check"></span>
                    <span class="check__fake-label">@Html.Localize("CentralFeedList.ShowSubscribed.chkbx")</span>
                </label>
            </div>
        </div>
        <div class="col-md-3" style="display: @(tabSettings.HasPinnedFilter ? "block" : "none")">
            <div class="check">
                <label class="check__label">
                    <input type="checkbox" class="check__box" name="showPinned" @(Model.ShowPinned ? "checked" : "") value="true">
                    <span class="check__fake-input icon-check"></span>
                    <span class="check__fake-label">@Html.Localize("CentralFeedList.ShowPinned.chkbx")</span>
                </label>
            </div>
        </div>
        <div class="col-md-3" style="display: @(tabSettings.Type != CentralFeedTypeEnum.Bulletins ? "block" : "none")">
            <input class="btn" type="button" name="clearFilters" value="@Html.Localize("CentralFeedList.ClearFilters.btn")" />
        </div>
    </div>
</div>

@if (!Model.Items.Any())
{
    @Html.Localize("CentralFeedList.Empty.lbl")
}

<div class="content__list-holder">
    @foreach (var item in Model.Items)
    {
        var itemSettings = Model.Settings.First(s => s.Type.GetHashCode() == item.Type.GetHashCode());

        <div data-anchor="@item.Id">
            @{ Html.RenderAction("CentralFeedItem", itemSettings.Controller, new { item = item }); }
        </div>
    }
</div>