@using Uintra.Core.User
@model UserPhotoViewModel

@if (string.IsNullOrEmpty(Model.ProfileUrl))
{
    <div class="avatar @Model.CssModificator">
        @getImage(Model)
    </div>
}
else
{
    <a class="avatar @Model.CssModificator" href="@Model.ProfileUrl">
        @getImage(Model)
    </a>
}

@helper getImage(UserPhotoViewModel avatar)
{
    if (string.IsNullOrEmpty(avatar.PhotoUrl))
    {
            <div class="avatar__letter">
                @avatar.AltText.First()
            </div>
    }
    else
    {
            <img class="avatar__img" src="@avatar.PhotoUrl?width=@Model.PhotoWidth&height=@Model.PhotoWidth&mode=crop" alt="@avatar.AltText" />
    }
}
