@using uIntra.Navigation
@model uIntra.Navigation.MenuViewModel

@RenderTreeRecursive(Model.MenuItems)

@helper RenderTreeRecursive(List<MenuItemViewModel> tree)
{
    <ul class="side-nav">
        @foreach (var item in tree)
        {
            var hasNavigableChildren = item.Children.Count > 0;
            var hasActiveChild = item.Children.Any(s => s.IsActive);

            <li @(hasNavigableChildren ? "data-id=" + item.Id : "") class="@(item.IsActive ? "_active" : "") side-nav__item js-side-nav__item @(hasNavigableChildren ? "_expand" : "")">
                <a class="side-nav__link js-side-nav__link" href="@item.Url">
                    @item.Name
                    @if (item.IsHomePage)
                    {
                        <span class="glyphicon glyphicon-home"></span>
                    }
                </a>
                @if (hasNavigableChildren)
                {
                    if (!item.IsHomePage)
                    {
                        <span class="side-nav__arrow js-side-nav__opener"></span>
                    }
                    @RenderTreeRecursive(item.Children)
                }
            </li>
        }
    </ul>
}
