@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using uIntra.Core.Extentions
@model uCommunity.Comments.CommentEditModel

@using (Ajax.BeginForm("Edit", "Comments", new AjaxOptions { UpdateTargetId = Model.UpdateElementId, InsertionMode = InsertionMode.Replace, HttpMethod = "PUT", OnComplete = $"new CommentOverview('#{Model.UpdateElementId}')" }, new { @class = "comments__form js-comment-edit" }))
{
    <div class="comments__form-field">
        <div class="js-comment-edit-description">
            @Html.Raw(Model.Text)
        </div>
    </div>
    <input class="js-hidden-comment-edit-description" data-val="true" data-val-required="*" name="Text" type="hidden" value="@Model.Text" />
    <input type="hidden" name="id" value="@Model.Id" />
    <button disabled="disabled" class="btn btn-black js-comment-edit-btn" type="submit">@Html.Localize("CommentsOverView.EditComment.btn")</button>
    @Html.ValidationMessageFor(model => model.Text)
}