@using Compent.Extensions
@using Uintra.Core.Extensions
@model Compent.Uintra.Core.Navigation.TopNavigationExtendedViewModel

@{
    var userAvatarClass = Model.CurrentUser.Photo.HasValue() ? "_with-avatar" : string.Empty;
    var userAvatar = Model.CurrentUser.Photo.HasValue() ? $"{Model.CurrentUser.Photo}?width=30&height=30&mode=crop" : string.Empty;
}

<a href="#" class="menu__burger js-menu-opener">
    <span class="menu__burger-line"></span>
    <span class="menu__burger-line"></span>
    <span class="menu__burger-line"></span>
</a>

<div class="holder">
    <div class="search-holder">
        @{ Html.RenderAction("SearchBox", "Search"); }
        <div class="tools">
            @if (!Model.CentralUserListUrl.IsNullOrWhiteSpace())
            {
                <a href="@Model.CentralUserListUrl" class="central-user">
                    <svg class="svg-icon" viewBox="0 0 16 16" width="22px" height="20px">
                        <use xlink:href="#icon-people" x="0" y="0"></use>
                    </svg>
                </a>
            }
            @{ Html.RenderAction("Preview", "Notification"); }
        </div>
    </div>
    <div class="user">
        <a class="user__opener icon-user @userAvatarClass">
            <div class="user__avatar">
                <img class="user__avatar-img" src="@userAvatar" width="30">
            </div>
            <span class="user__opener-arrow"></span>
            <div class="greeting">
                <strong class="greeting__username">@Model.CurrentUser.DisplayedName</strong>
            </div>
        </a>
        <ul class="user__menu">
            @{ Html.RenderAction("UmbracoContentLink", "Navigation"); }
            <li class="user__menu-item">
                <a class="user__menu-link" href="@Url.Action("EditPage", "Profile")">
                    <span class="icon icon-user">
                        <svg class="svg-icon" viewBox="0 0 48 48.00004" width="30px" height="30px">
                            <use xlink:href="#icon-user" x="0" y="0"></use>
                        </svg>
                    </span>
                    @Html.Localize("TopNavigation.EditProfile.lbl")
                </a>
            </li>
            <li class="user__menu-item">
                <a class="user__menu-link" href="@Model.UintraDocumentationLink">
                    <span class="icon icon-uintra">
                        <svg class="svg-icon" viewBox="0 0 408.2 455.5" width="31px" height="33px">
                            <use xlink:href="#uintra" x="0" y="0"></use>
                        </svg>
                    </span>
                    @Html.Localize("TopNavigation.UintraDocumentationLink.lnk") @Model.UintraDocumentationVersion
                </a>
            </li>
            <li class="user__menu-item">
                <a class="user__menu-link js-logout" href="@Url.Action("Logout", "NavigationAuthorization")">
                    <span class="icon icon-logout">
                        <svg class="svg-icon" viewBox="0 0 1792 1792" width="22px" height="19px">
                            <use xlink:href="#icon-logout" x="0" y="0"></use>
                        </svg>
                    </span>
                    @Html.Localize("TopNavigation.Logout.lbl")
                </a>
            </li>
        </ul>
    </div>
</div>