﻿@model uIntra.Navigation.TopNavigationViewModel

<div class="menu _for-mobile">
    <div class="menu__burger js-menu-opener">
        <span class="menu__burger-line"></span>
        <span class="menu__burger-line"></span>
        <span class="menu__burger-line"></span>
    </div>
</div>
<div class="user">
    <a class="user__opener icon-user @userAvatar">
        <div class="user__avatar _for-desktop">
            <img src="@Model.CurrentUser.Photo" width="30">
        </div>
        <span class="user__opener-arrow"></span>
    </a>
    <ul class="user__menu">
        <li class="user__menu-item _for-mobile">
            <div class="user__menu-link @userAvatar">
                <div class="user__avatar icon-user">
                    <img src="@Model.CurrentUser.Photo" width="30">
                </div>
                <span class="user__menu-name">@Model.CurrentUser.DisplayedName - @Model.CurrentUser.Role.Name</span>
            </div>
        </li>
        @if (Model.CurrentUser.UmbracoId.HasValue)
        {
            <li class="user__menu-item">
                <a class="user__menu-link" href="@Url.Action("LoginToUmbraco", "NavigationAuthorization")">
                    <span class="icon icon-umbraco"></span>
                    LoginToUmbraco
                </a>
            </li>
        }
        <li class="user__menu-item">
            <a class="user__menu-link" href="@Url.Action("Logout", "NavigationAuthorization")">
                <span class="icon icon-logout"></span> 
                Logout
            </a>
        </li>
    </ul>
</div>

<div class="greeting _for-desktop"> 
    <strong class="greeting__username">@Model.CurrentUser.DisplayedName</strong>
    <span class="greeting__role">@Model.CurrentUser.Role.Name</span>
</div> 