@using uCommunity.Core
@using uCommunity.Core.Extentions
@using uCommunity.Notification.Core.Configuration
@model uCommunity.Notification.Core.Models.NotificationListViewModel

<div class="row">
    <div class="col-md-6">
        <section class="notifications">
            <ul class="notifications__list" id="notification_list">
                @foreach (var notification in Model.Notifications)
                {
                    var icon = "";
                    switch (notification.Type)
                    {
                        case NotificationTypeEnum.EventUpdated:
                            icon = "icon-lightning";
                            break;

                        case NotificationTypeEnum.EventHided:
                            icon = "icon-cancel";
                            break;

                        case NotificationTypeEnum.BeforeStart:
                            icon = "icon-time";
                            break;

                        case NotificationTypeEnum.CommentLikeAdded:
                        case NotificationTypeEnum.ActivityLikeAdded:
                            icon = "icon-like";
                            break;
                        case NotificationTypeEnum.CommentAdded:
                        case NotificationTypeEnum.CommentEdited:
                        case NotificationTypeEnum.CommentReplyed:
                            icon = "icon-comment";
                            break;
                        default:
                            break;
                    }
                    switch (notification.Type)
                    {
                        case NotificationTypeEnum.EventUpdated:
                        case NotificationTypeEnum.EventHided:
                        case NotificationTypeEnum.BeforeStart:
                            {
                                <div class="notifications__list-meta">
                                    <span class="notifications__list-icon">
                                        <i class="icon @icon"></i>
                                    </span>
                                    <div class="notifications__list-holder">
                                        <div class="notifications__list-row">
                                            <span class="notifications__list-date">@notification.Date.ToDefaultDateTimeFormat()</span>
                                            @if (notification.Type != NotificationTypeEnum.BeforeStart)
                                            {
                                                <span class="notifications__list-name">@notification.NotifierName</span>
                                            }
                                            <span class="notifications__list-type">@Html.Localize(notification.Type)</span>
                                        </div>
                                        <div class="notifications__list-row">
                                            <h2 class="notifications__list-title">
                                                @if (notification.Type == NotificationTypeEnum.EventHided)
                                                {
                                                    @notification.Value.title
                                                }
                                                else
                                                {
                                                    <a class="notifications__list-link" href="@notification.Value.url">
                                                        @notification.Value.title
                                                    </a>
                                                }
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            }
                            break;
                        case NotificationTypeEnum.ActivityLikeAdded:
                        case NotificationTypeEnum.CommentAdded:
                        case NotificationTypeEnum.CommentEdited:
                        case NotificationTypeEnum.CommentReplyed:
                        case NotificationTypeEnum.CommentLikeAdded:
                            {
                                <div class="notifications__list-meta">
                                    <span class="notifications__list-icon">
                                        <i class="icon @icon"></i>
                                    </span>
                                    <div class="notifications__list-holder">
                                        <div class="notifications__list-row">
                                            <span class="notifications__list-date">@notification.Date.ToDefaultDateTimeFormat()</span>
                                            <span class="notifications__list-name">@notification.NotifierName</span>
                                            <span class="notifications__list-type">@Html.Localize(notification.Type)</span>
                                        </div>
                                        <div class="notifications__list-row">
                                            <h2 class="notifications__list-title">
                                                <a class="notifications__list-link" href="@notification.Value.url">
                                                    @notification.Value.title
                                                </a>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            }
                            break;
                    }
                }
            </ul>
        </section>
    </div>
</div>