@using Uintra.Core.Extensions
@using Compent.Extensions
@model Uintra.Events.ComingEventsPanelViewModel

<section class="block coming-events clearfix">
    <h2 class="block__title"><span class="icon-calendar"></span>@Model.Title</h2>
    <ul class="coming-events__list">
        @if (Model.Events.IsEmpty())
        {
            <li class="coming-events__list-item clearfix">
                @Html.Localize("Events.ComingEvents.Empty.lbl")
            </li>
        }
        else
        {
            foreach (var e in Model.Events)
            {
                <li class="coming-events__list-item clearfix">
                    <div class="coming-events__date">
                        <span class="coming-events__day">@e.StartDate.Day</span>
                        <span class="coming-events__month">@e.StartDate.ToString("MMM")</span>
                    </div>
                    <div class="coming-events__description">
                        <h3 class="coming-events__title"><a class="coming-events__title-link" href="@e.Links.Details">@e.Title</a></h3>
                        <span class="coming-events__creator">@e.Owner.DisplayedName</span>
                        @foreach (var date in e.Dates)
                        {
                            <span class="coming-events__time">@date</span>                            
                        }
                        
                    </div>
                </li>
            }
            if (Model.ShowSeeAllButton)
            {
                <li class="coming-events__list-item clearfix">
                    <a href="@Model.OverviewUrl" class="btn">@Html.Localize("ComingEvents.SeeAll.btn")</a>
                </li>
            }
        }
    </ul>
</section>