@using uIntra.Core.Extentions
@model  uIntra.Events.Core.Models.ComingEventsPanelViewModel

<section class="block coming-events clearfix">
    <h2 class="block__title"><span class="icon-calendar"></span>@Model.Title</h2>
    <ul class="coming-events__list">
        @if (Model.Events.IsEmpty())
        {
            <li class="coming-events__list-item clearfix">
                @Html.Localize("Events.ComingEvents.Empty.lbl")
            </li>
        }

        @foreach (var e in Model.Events)
        {
            <li class="coming-events__list-item clearfix">
                <div class="coming-events__date">
                    <span class="coming-events__day">@e.StartDate.Day</span>
                    <span class="coming-events__month">@e.StartDate.ToString("MMM")</span>
                </div>
                <div class="coming-events__description">
                    <a href="@e.DetailsPageUrl">
                        <h3 class="coming-events__title">@e.Title</h3>
                    </a>
                    <span class="coming-events__creator">@e.Creator.DisplayedName</span>
                    <span class="coming-events__time">@e.StartDate.ToDateTimeFormat() - @e.EndDate.ToDateTimeFormat()</span>
                </div>
            </li>
        }
    </ul>
</section>