@using System.Web.Mvc.Html
@using uIntra.Core.Activity
@using uIntra.Core.Extentions
@model Compent.uIntra.Core.News.Models.NewsExtendedViewModel
<section class="content">
    <div class="row clearfix">
        <div class="col-md-9">
            <header class="content__header">
                @*<a href="#" class="content__item-print hide"><i class="glyphicon glyphicon-print"></i>@Html.Localize("DetailsView.Print.lbl")</a>*@
                @if (Model.CanEdit)
                {
                    <a class="content__btn" href="@ViewData.GetActivityEditPageUrl(IntranetActivityTypeEnum.News, Model.Id)">@Html.Localize("DetailsView.Edit.lbl")</a>
                }
                @*<span class="content__item-label">@Html.Localize("DetailsView.Important.lbl")</span>*@
                <a class="link__back" href="@($"{Context.GetBackLink(ViewData.GetActivityOverviewPageUrl(IntranetActivityTypeEnum.News))}#{Model.Id}")">@Html.Localize("DetailsView.GoBal.lbl")</a>
            </header>

            <div class="content__item _details">
                @Html.Action("ActivityDetailsHeader", "ActivityHeader", new { header = Model.HeaderInfo })
                <div class="content__item-txt">
                    @Html.Raw(Model.Description)
                </div>
                <div class="content__item-images">
                    @{ Html.RenderAction("RenderGallery", "LightboxGallery", new { mediaIds = Model.Media }); }
                </div>
                <div class="content__item-feed">
                    <div class="content__item-feed-holder">
                        @{ Html.RenderAction("Likes", "Likes", new { likesInfo = Model.LikesInfo }); }
                    </div>
                </div>
                <div class="comments">
                    @{ Html.RenderAction("OverView", "Comments", new { commentsInfo = Model.CommentsInfo });}
                </div>
            </div>
        </div>
    </div>
</section>
