@using Uintra.Core.Permissions
@using Uintra.Core.Controls.FileUpload
@using Uintra.Core.Extensions
@using Umbraco.Web
@model Compent.Uintra.Core.News.Models.NewsExtendedEditModel

<div class="form js-check-before-unload" id="js-news-edit-page">
    @using (Html.BeginUmbracoForm("EditExtended", "News", FormMethod.Post, new { id = "form" }))
    {
        <h1 class="form__title">@Html.Localize("NewsEditPage.Title.lbl")</h1>
        <div class="form__row clearfix">
            <label class="form__label">@Html.Localize("NewsEdit.Owner.lbl")</label>
            @Html.Action("OwnerEdit", "Activity", new { ownerId = Model.OwnerId, ownerIdPropertyName = nameof(Model.OwnerId), activityType = PermissionResourceTypeEnum.News, links = Model.Links })
        </div>
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="form__row clearfix">
            <label class="form__label" for="title">@Html.Localize("NewsEdit.Title.lbl") <span class="form__required">*</span></label>
            <input class="form__input" id="title" type="text" name="title" value="@(Model.Title)"
                   data-val-required="@Html.Localize("NewsEdit.TitleRequired.lbl")" data-val-length-max="400" data-val-length="@string.Format(Html.Localize("NewsEdit.TitleMaxLength.lbl"), 400)"
                   data-val="true" />
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="description">@Html.Localize("NewsEdit.Description.lbl") <span class="form__required">*</span></label>
            <div id="description">
                @Html.Raw(Model.Description)
            </div>
            <input type="hidden" id="js-hidden-description-container" name="description" value="@(Model.Description)"
                   data-val-required="@Html.Localize("NewsEdit.DescriptionRequired.lbl")" data-val="true" />
        </div>
        @Html.Action("TagPicker", "UserTags", new { entityId = Model.Id })
        <div class="form__row clearfix">
            <div class="row">
                <div class="col-md-6">
                    <label class="form__label" for="js-publish-date">@Html.Localize("NewsEdit.PublishDate.lbl")</label>
                    <input class="form__input" id="js-publish-date" data-default-date="@Model.PublishDate.ToDateTimeValuePickerFormat()" data-date-format="@Html.GetDateTimePickerFormat()" />
                    <input type="hidden" id="js-publish-date-value" name="publishDate" data-val-required="@Html.Localize("NewsEdit.PublishDateRequired.lbl")" data-val="true" />
                    <span class="form__clear js-clear-date hide">
                        <svg class="svg-icon" viewBox="0 0 20 20" width="10px" height="10px">
                            <use xlink:href="#icon-close" x="0" y="0"></use>
                        </svg>
                    </span>
                </div>
                <div class="col-md-6">
                    @{
                        var unpublishDatevalue = @Model.UnpublishDate.HasValue ? Model.UnpublishDate.Value.ToDateTimeValuePickerFormat() : "";
                    }
                    <label class="form__label" for="js-unpublish-date">@Html.Localize("NewsCreate.UnpublishDate.lbl")</label>
                    <input class="form__input" id="js-unpublish-date" data-default-date="@unpublishDatevalue" data-date-format="@Html.GetDateTimePickerFormat()" />
                    <input type="hidden" id="js-unpublish-date-value" name="unpublishDate" data-val="true" />
                    <span class="form__clear js-clear-date hide">
                        <svg class="svg-icon" viewBox="0 0 20 20" width="10px" height="10px">
                            <use xlink:href="#icon-close" x="0" y="0"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
        <div class="form__row">
            @Html.Label("Location", Html.Localize("Activity.Location.lbl"), new { @class = "form__label" })
            @Html.Action("Edit", "ActivityLocation", new { location = Model.Location })
        </div>
        <div class="form__row clearfix">
            @Html.Action("PinActivity", "Activity", new { isPinned = @Model.IsPinned, endPinDate = @Model.EndPinDate })
        </div>
        <div class="form__row clearfix">
            <label class="form__label" for="file-upload">@Html.Localize("NewsEdit.UploadFiles.lbl")</label>
            @{
                var settings = new FileUploadSettings { AllowedExtensions = ViewData["AllowedMediaExtensions"] as string };
                Html.RenderAction("Editor", "FileUpload", new { Settings = settings, Model = Model?.Media });
            }
        </div>
        @Html.ValidationSummary()
        <div class="form__row form__row--top-indent clearfix">
            <input type="hidden" name="mediaRootId" value="@Model.MediaRootId" />
            @Html.PassLinks(Model.Links)
            <input class="btn _submit js-disable-submit" type="submit" value="@Html.Localize("NewsEdit.Edit.btn")" />
            <a class="btn _default" href="@(Context.GetBackLink(Model.Links.Overview))">@Html.Localize("Common.Cancel.lnk")</a>
        </div>
    }
</div>