@using System.Web.Mvc.Html
@using uIntra.Core.Extensions
@model Compent.uIntra.Core.News.Models.NewsExtendedItemViewModel

@{
    var pinnedClass = Model.IsPinActual ? "_pinned" : "";
}
@if (Model.Location != null)
{
<h1>@Model.Location.ShortAddress</h1>
}

<div class="feed__item @pinnedClass">
    <div class="clearfix">
        @if (Model.IsPinned || Model.IsPinActual)
        {
            <span class="pinned__item">@Html.Localize("NewsItemView.Pinned.lbl")</span>
        }

        @Html.Action("ItemHeader", "Activity", new { header = Model.HeaderInfo })
    </div>
    <div class="feed__item-image"> </div>
    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <div class="feed__item-txt _clamp" data-url="@Model.Links.Details">@Html.Raw(Model.Description)</div>
    }
    <div class="feed__item-images">
        @{ Html.RenderAction("Preview", "LightboxGallery", new { model = Model.LightboxGalleryPreviewInfo }); }
    </div>
    <div class="feed__item-feed">
        <div class="feed__item-feed-holder">
            @{ Html.RenderAction("Likes", "Likes", new { likesInfo = Model.LikesInfo }); }
            @{ Html.RenderAction("Preview", "Comments", new { activityId = Model.Id, link = Model.Links.Details, isReadOnly = Model.IsReadOnly }); }
        </div>
    </div>
</div>