@inherits Umbraco.Web.Mvc.UmbracoViewPage<Uintra.Users.UserList.UsersRowsViewModel>
@using Uintra.Users.Helpers
@using Uintra.Users.UserList
@using Uintra.Core.Extensions

@foreach (var user in Model.Users)
{
    <div data-profile="@user.ProfileUrl" class="users-table__row js-user-list-row @if (Model.IsLastRequest) { <text>last</text> }">
        @foreach (var column in Model.SelectedColumns)
        {
            switch (column.Type)
            {
                case ColumnType.Email:
                    {
                        <div class="users-table__cell">
                            @*<a class="members-table__link" href="mailto:@user.Email">@user.Email</a>*@
                            <span class="users-table__text">@user.Email</span>
                        </div>
                    }
                    break;
                case ColumnType.Photo:
                    {
                        <div class="users-table__cell users-table__cell--photo">
                            @Html.Action("Photo", "User", new
                            {
                                user = user.User,
                                cssModificator = "avatar--group-member",
                                photoWidth = 30
                            })
                        </div>
                    }
                    break;
                case ColumnType.Name:
                    {
                        <div class="users-table__cell">
                            <span class="users-table__name">@user.DisplayedName</span>
                        </div>
                    }
                    break;
                case ColumnType.Text:
                    {
                        <div class="users-table__cell">
                            <span class="users-table__text">@ReflectionHelper.GetUIColumnValue(user, column)</span>
                        </div>
                    }
                    break;
                case ColumnType.GroupRole:
                    {
                        <div class="users-table__cell">
                            @{var role = user.IsGroupAdmin ? "GroupMembers.Table.GroupAdmin.lbl" : "GroupMembers.Table.GroupMember.lbl";}
                            <span class="users-table__text">@Html.Localize(role)</span>
                        </div>
                    }
                    break;
            }

        }
    </div>
}
