@inherits Umbraco.Web.Mvc.UmbracoViewPage<Uintra.Users.UserList.MembersRowsViewModel>
@using System.Web.Mvc.Html
@using Uintra.Users.UserList
@using Uintra.Core.Extensions

<button class="btn btn-default js-open-search-modal-page"> Invite Member</button>

@foreach (var member in Model.Members)
{
    <div data-profile="@member.ProfileUrl"
         data-group-id="@Model.GroupId.GetValueOrDefault()"
         data-id="@member.Member.Id"
         class="users-table__row js-user-list-row @if (Model.IsLastRequest)
                                                  {
                                                      <text>last</text>
                                                  }">
        @foreach (var column in Model.SelectedColumns)
        {
            switch (column.Type)
            {
                case ColumnType.Name:
                {
                    <div class="users-table__cell users-table__cell--name">
                        <div class="users-table__info">
                            @Html.Action("Photo", "Member", new
                            {
                                member = member.Member,
                                cssModificator = "avatar--group-member",
                                photoWidth = 30
                            })
                            <span class="users-table__name">@member.DisplayedName</span>
                        </div>
                    </div>
                }
                    break;
                case ColumnType.Info:
                {
                    <div class="users-table__cell users-table__cell--info">
                        @if (!string.IsNullOrEmpty(member.Email))
                        {
                            <span class="users-table__text">
                                @(Html.Localize("UserList.Table.Email.lbl") + ":")
                                @member.Email
                            </span>
                        }
                        @if (!string.IsNullOrEmpty(member.Phone))
                        {
                            <span class="users-table__text">
                                @(Html.Localize("UserList.Table.Phone.lbl") + ":")
                                @member.Phone
                            </span>
                        }
                        @if (!string.IsNullOrEmpty(member.Department))
                        {
                            <span class="users-table__text">
                                @(Html.Localize("UserList.Table.Department.lbl") + ":")
                                @member.Department
                            </span>
                        }
                    </div>
                }
                    break;
                case ColumnType.Button:
                {
                    <div class="users-table__cell users-table__cell--tools">
                        <button class="btn">
                            <svg class="svg-icon" viewBox="0 0 24 24" width="19px" height="19px">
                                <use xlink:href="#icon-comment" x="0" y="0"></use>
                            </svg>
                            <span>Message</span>
                        </button>
                    </div>
                }
                    break;
                case ColumnType.GroupRole:
                {
                    <div class="users-table__cell users-table__cell--text">
                        @{ var role = member.IsGroupAdmin ? "UserList.Table.GroupAdmin.lbl" : "UserList.Table.GroupMember.lbl"; }
                        <span class="users-table__text">@Html.Localize(role)</span>
                    </div>
                }
                    break;
                case ColumnType.GroupManagement:
                    <div class="users-table__cell users-table__cell--btn">
                        @if (Model.IsCurrentMemberGroupAdmin && Model.CurrentMember.Id != member.Member.Id)
                        {
                            <button class="users-table__delete js-user-list-delete">X</button>
                        }
                    </div>
                    <div class="users-table__cell users-table__cell--btn">
                        @if (Model.IsCurrentMemberGroupAdmin && Model.CurrentMember.Id != member.Member.Id)
                        {
                            <input 
                                type="checkbox" 
                                checked="@member.IsGroupAdmin"
                                class="js-user-list-toggle-admin-rights" />
                        }
                    </div>
                    
                    break;
            }
        }
    </div>
    
}