@inherits Umbraco.Web.Mvc.UmbracoViewPage<UserListViewModel>
@using Uintra.Core.Extensions
@using Uintra.Users

<section class="block _content-panel clearfix">
    <div class="block">
        <h3>@Model.Title</h3>
        <input type="text" id="filter" />
    </div>
    @*<div class="table-holder block">*@
        <table class="members-table">
            <tr class="members-table__row">
                @foreach (var column in Model.SelectedColumns)
                {
                    <th class="members-table__head">@Html.Localize($"UserList.Table.{column.Alias}.lbl")</th>
                }
            </tr>
            @foreach (var user in Model.Users)
            {
                <tr class="members-table__row">
                    @foreach (var column in Model.SelectedColumns)
                    {
                        <td class="members-table__cell">
                        @switch (column.Type)
                        {
                            case ColumnType.Email:
                                {
                                    <a class="members-table__link" href="mailto:@user.Email">@user.Email</a>
                                }
                                break;
                            case ColumnType.Photo:
                                {
                                    @Html.Action("Photo", "User", new
                                    {
                                        user = user.User,
                                        cssModificator = "avatar--group-member",
                                        photoWidth = 40
                                    })
                                }
                                break;
                            case ColumnType.Text:
                                {
                                    <span class="members-table__name">@ReflectionHelper.GetUIColumnValue(user, column)</span>
                                }
                                break;
                        }
                        </td>
                    }
                </tr>
            }
        </table>
    @*</div>*@
</section>

<script type="text/javascript">
</script>
