@inherits Umbraco.Web.Mvc.UmbracoViewPage<Uintra.Users.UserList.UsersRowsViewModel>
@using Uintra.Users.Helpers
@using Uintra.Users.UserList

@foreach (var user in Model.Users)
{
    <tr data-profile="@user.ProfileUrl" class="users-table__row js-user-list-row @if (Model.IsLastRequest) { <text>last</text> }">
        @foreach (var column in Model.SelectedColumns)
        {
            <td class="users-table__cell">
                @switch (column.Type)
                {
                    case ColumnType.Email:
                        {
                            @*<a class="members-table__link" href="mailto:@user.Email">@user.Email</a>*@
                            <span class="users-table__name">@user.Email</span>
                        }
                        break;
                    case ColumnType.Photo:
                        {
                            @Html.Action("Photo", "User", new
                            {
                                user = user.User,
                                cssModificator = "avatar--group-member",
                                photoWidth = 30
                            })
                        }
                        break;
                    case ColumnType.Text:
                        {
                            <span class="users-table__name">@ReflectionHelper.GetUIColumnValue(user, column)</span>
                        }
                        break;
                }
            </td>
        }
    </tr>
}