@inherits Umbraco.Web.Mvc.UmbracoViewPage<UserListViewModel>
@using Uintra.Core.Extensions
@using Uintra.Users
@using Newtonsoft.Json

<section class="block _content-panel clearfix">
    <div class="block">
        <h3>@Model.Title</h3>
        <input type="text" id="filter" />
    </div>
    @*<div class="table-holder block">*@
        <table id="userListTable" class="members-table">
            <tr class="members-table__row">
                @foreach (var column in Model.UsersRows.SelectedColumns)
                {
                    <th class="members-table__head">@Html.Localize($"UserList.Table.{column.Alias}.lbl")</th>
                }
            </tr>
            @Html.Partial(Model.UsersRowsViewPath, Model.UsersRows)
        </table>
    @*</div>*@
    <button id="loadMore">Load more</button>
</section>

<script type="text/javascript">
    window.userListConfig = {
        index: 0,
        count: @Model.AmountPerRequest,
        skip: @Model.DisplayedAmount,
        selectedColumns: '@Html.Raw(JsonConvert.SerializeObject(Model.UsersRows.SelectedColumns))'
    };
</script>