@inherits Umbraco.Web.Mvc.UmbracoViewPage<UserListViewModel>
@using Uintra.Core.Extensions
@using Uintra.Users
@using Newtonsoft.Json

<section class="block _content-panel clearfix">
    <div class="block">
        <h3>@Model.Title</h3>
        <input type="text" class="js-user-list-filter" />
    </div>
        <table class="members-table js-user-list-table">
            <thead>
                <tr class="members-table__row">
                    @foreach (var column in Model.UsersRows.SelectedColumns)
                    {
                        var selected = Model.OrderByColumn.Id == column.Id;
                        <th class="members-table__head">
                            <a href="" class="js-user-list-sort-link @(selected ? "_asc": "")" data-order-by="@column.PropertyName"
                               @if (selected) { <text>data-direction="0"</text>  }>@Html.Localize($"UserList.Table.{column.Alias}.lbl")</a>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @Html.Partial(Model.UsersRowsViewPath, Model.UsersRows)
            </tbody>
        </table>
    <button class="js-user-list-button">Load more</button>
</section>

<script type="text/javascript">
    window.userListConfig = {
        request: {
            skip: 0,
            take: 0,
            query: '',
            orderBy: '@Model.OrderByColumn.PropertyName',
            direction: 0,
            selectedColumns: '@Html.Raw(JsonConvert.SerializeObject(Model.UsersRows.SelectedColumns))'
        },
        amountPerRequest: @Model.AmountPerRequest,
        displayedAmount: @Model.DisplayedAmount
    };
</script>