@model Compent.uIntra.Core.Navigation.TopMenuViewModel

<div class="menu _for-mobile">
    <div class="menu__burger js-menu-opener">
        <span class="menu__burger-line"></span>
        <span class="menu__burger-line"></span>
        <span class="menu__burger-line"></span>
    </div>
</div>
<div class="notification js-notification">
    <a class="icon icon-bell notification__icon">
        <span class="notifications__number"></span>
    </a>
    <div class="notification__list js-notification-list hide">
        @{ Html.RenderAction("Notifications", "Notification", new { notificationList = Model.NotificationList }); }
        <a class="notification__all" href="@Model.NotificationsUrl">Show all notifications</a>
    </div>
</div>
<div class="user">
    <a class="user__opener icon-user">
        <span class="user__opener-arrow"></span>
    </a>
    <ul class="user__menu">
        @if (Model.CurrentUser.UmbracoId.HasValue)
        {
            <li class="user__menu-item">
                <a class="user__menu-link" href="@Url.Action("LoginToUmbraco", "NavigationAuthorization")">
                    <span class="icon icon-umbraco"></span>
                    LoginToUmbraco
                </a>
            </li>
        }
        <li class="user__menu-item">
            <a class="user__menu-link" href="@Url.Action("EditPage", "Profile")">
                <span class="icon icon-user"></span>
                Edit profile
            </a>
        </li>
        <li class="user__menu-item">
            <a class="user__menu-link" href="@Url.Action("Logout", "NavigationAuthorization")">
                <span class="icon icon-logout"></span> 
                Logout
            </a>
        </li>
    </ul>
</div>

<div class="greeting _for-desktop">
    <strong class="greeting__username">@Model.CurrentUser.DisplayedName</strong>
    <span class="greeting__role">@Model.CurrentUser.Role.Name</span>
</div>