@using uIntra.Core.Extentions
@model uIntra.Groups.GroupCentralFeedOverviewModel

<section class="content _central-feed">
    @if (Model.CreateTabs.Any())
    {
        <ul class="feed-create">
            @foreach (var typeModel in Model.CreateTabs)
            {
                <li class="feed-create__frame">
                    <a class="feed-create__item" href="@typeModel.Url">@Html.Localize($"CentralFeed.CreateLink_{typeModel.Type.Name}.lnk")</a>
                </li>
            }
        </ul>
    }
    <div class="feed__filter js-feed-navigation">
        <a id="js-sidepanel-opener" class="sidebar__opener _for-mobile"></a>
        <div class="tabset__holder">
            @*<ul class="feed-links js-feed-links">
                @foreach (var tabModel in Model.ActivityTabs)
                {
                    var iconClass = String.Empty;
                    switch (tabModel.Type.Id)
                    {
                        case 1:
                            iconClass = "icon-news";
                            break;
                        case 2:
                            iconClass = "icon-ideas";
                            break;
                        case 3:
                            iconClass = "icon-events";
                            break;
                        case 4:
                            iconClass = "icon-bulletins";
                            break;
                        case 101:
                            iconClass = "icon-blog";
                            break;
                        default:
                            iconClass = "";
                            break;
                    }
                    <li class="feed-links__frame js-feed-type @(tabModel.IsActive ? "_active" : "")" data-type="@tabModel.Type.Id" data-page-url="@tabModel.Url">
                        <a class="feed-links__item" href="@tabModel.Url"><i class="@iconClass"></i> @Html.Localize(tabModel.Type.Name)</a>
                    </li>
                }
            </ul>*@
        </div>
    </div>
    <div class="content__list js-feed-overview">
        <div>
            using (Html.BeginUmbracoForm("List", "CentralFeed", null,
                new Dictionary< string, object> {{"class", "js-ajax-form"}, {"data-append-to", ".js-feed-listContainer"}}))
            {
                <div class="content__loader js-loading-status" style="display: none;">Loading...</div>
                <input type="hidden" name="type" value="@Model.CurrentType.Id"/>
                <input type="hidden" name="page"/>
                <div class="tab-content js-feed-listContainer">
                    {Html.RenderAction("List", "CentralFeed", new {model = new CentralFeedListExtendedModel {Type = Model.CurrentType.Id, GroupId = Model.GroupId}});}
                </div>
            }
        </div>
    </div>
</section>