@using System.Web.Mvc.Ajax
@using Uintra.Core.Extensions
@using Uintra.Groups
@model Uintra.Groups.GroupDocumentsTableViewModel

<div id="js-group-documents-table">
    @RenderUpdateLink()
    @if (Model.Documents.Any())
    {
        <div class="table-holder">
            <table class="documents-table">
                <tr class="documents-table__row">
                    <th class="documents-table__head">
                        @RenderTableHeaderLink("GroupDocuments.Table.Type.lbl", GroupDocumentDocumentField.Type)
                    </th>
                    <th class="documents-table__head">
                        @RenderTableHeaderLink("GroupDocuments.Table.Name.lbl", GroupDocumentDocumentField.Name)
                    </th>
                    <th colspan="2" class="documents-table__head">
                        @RenderTableHeaderLink("GroupDocuments.Table.Creator.lbl", GroupDocumentDocumentField.Creator)
                    </th>
                    <th class="documents-table__head">
                        @RenderTableHeaderLink("GroupDocuments.Table.Date.lbl", GroupDocumentDocumentField.Date)
                    </th>
                    <th class="documents-table__head"></th>
                </tr>
                @foreach (var document in Model.Documents)
                {
                    <tr class="documents-table__row">
                        <td class="documents-table__cell">
                            <span class="file-extension">@document.Type.ToExtensionViewString()</span>
                        </td>
                        <td class="documents-table__cell">
                            <span class="documents-table__name">
                                <a class="documents-table__link" href="@document.FileUrl" target="_blank">@document.Name</a>
                            </span>
                        </td>
                        <td class="documents-table__cell">
                            @Html.Action("Photo", "User", new
                            {
                                user = document.Creator,
                                cssModificator = "avatar--documents",
                                photoWidth = 60
                            })
                        </td>
                        <td class="documents-table__cell">
                            <span class="documents-table__name">@document.Creator.DisplayedName</span>
                        </td>

                        <td class="documents-table__cell">@document.CreateDate.ToDateFormat()</td>
                        <td class="documents-table__cell _delete">
                            @if (document.CanDelete)
                            {
                                @RenderTableDeleteDocumentLink(document.Id, Model.Column)
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
    else
    {
        @Html.Localize("DocumentsList.Empty.lbl");
    }
</div>


@helper RenderUpdateLink()
{
    var ajaxOptions = new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "js-group-documents-table", OnSuccess = "new uIntra.methods.groupDocumentsAfterReload()" };
    var htmlAttributes = new { style = "display:none;", id = "js-group-documents-update-lnk" };
    var routeValues = new { groupId = Model.GroupId, column = Model.Column, direction = Model.Direction };

    @Ajax.ActionLink(".", "DocumentsTable", "GroupDocuments", routeValues, ajaxOptions, htmlAttributes)
}

@helper RenderTableHeaderLink(string linkCaption, GroupDocumentDocumentField column)
{
    var direction = Model.Direction == Direction.Asc ? Direction.Desc : Direction.Asc;
    var ajaxOptions = new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "js-group-documents-table", OnSuccess = "new uIntra.methods.groupDocumentsAfterReload()" };
    var routeValues = new { groupId = Model.GroupId, column, direction };
    var classNames = "documents-table__link";
    if (column == Model.Column)
    {
        classNames += $" _{Model.Direction.ToString().ToLower()}";
    }
    var htmlAttributes = new { @class = classNames };

    @Ajax.ActionLink(Html.Localize(linkCaption), "DocumentsTable", "GroupDocuments", routeValues, ajaxOptions, htmlAttributes)
}

@helper RenderTableDeleteDocumentLink(Guid documentId, GroupDocumentDocumentField column)
{
    var classNames = "documents-table__delete icon-close js-action-with-confirm";
    var routeValues = new { groupId = Model.GroupId, documentId, column, Model.Direction };
    var ajaxOptions = new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "js-group-documents-table", OnSuccess = "new uIntra.methods.groupDocumentsAfterReload()" };
    var htmlAttributes = new
    {
        @class = classNames,
        data_text = Html.Localize("GroupDocuments.Delete.ConfirmText.lbl"),
        data_ok = Html.Localize("GroupDocuments.Delete.Confirm.btn"),
        data_cancel = Html.Localize("GroupDocuments.Delete.ConfirmCancel.btn")
    };

    @Ajax.ActionLink("x", "DeleteDocument", "GroupDocuments", routeValues, ajaxOptions, htmlAttributes)
}