@using uPortal.Shared.TableEditor
@model uIntra.Panels.Core.TablePanel.Models.TablePanelViewModel

<section class="table-panel js-tracking-area @Html.PanelBehaviour(Model.PanelBehavior)" style="@Html.PanelColors(Model.PanelColors)">
    <div class="content">
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <h2 class="table-panel__title" style="color: @Model.PanelColors.TitleColor;">@Model.Title</h2>
        }

        @Html.Table(Model.Table)
    </div>
</section>