@using uIntra.Core.Extentions
@model uIntra.Events.EventPreviewViewModel

<h3 class="block__subtitle">
    <a href="@Model.Links.Details">@Html.Raw(Model.Title)</a>
</h3>
<div class="block__about">
    <p class="block__about-item"><a href="@Model.Links.Profile">@Model.Creator.DisplayedName</a></p>
    <p class="block__about-item">@Model.StartDate - @Model.EndDate</p>
</div>
