@using System.Web.Mvc.Html
@using Uintra.Core.Extensions
@model Uintra.News.NewsViewModel

<section class="content">
    <header class="feed__header clearfix">
        @if (Model.CanEdit)
        {
            <a class="btn pull-right" href="@Model.Links.Edit">@Html.Localize("DetailsView.Edit.lbl")</a>
        }
        <a class="link__back" href="/">@Html.Localize("DetailsView.GoToList.lbl")</a>
    </header>

    <div class="feed__item _details">
        @Html.Action("DetailsHeader", "Activity", new { header = Model.HeaderInfo })
        <div class="feed__item-txt">
            @Html.Raw(Model.Description)
        </div>
        <div class="feed__item-images">
            @{ Html.RenderAction("RenderGallery", "LightboxGallery", new { mediaIds = Model.Media }); }
        </div>
    </div>
</section>