@using Uintra.Core.Extensions
@model Uintra.Search.SearchViewModel
<div class="search-result js-search-page-holder">
    <h1 class="search-result__title">Search results</h1>
    @using (Html.BeginUmbracoForm("Search", "Search", null,
                        new Dictionary<string, object> { { "class", "js-ajax-form" }, { "data-append-to", ".js-searchResults-listContainer" } }))
    {
        <div class="search-result__textbox-holder">
            <label class="form__label">Search term</label>
            <input class="search-result__textbox js-search-page-searchbox" type="search" name="query" value="@Model.Query" />
            <span class="icon-search"></span>
        </div>
        <input type="hidden" name="page" value="1" />
        <div class="search-result__filter">
            <h3 class="search-result__filter-title">@Html.Localize("SearchResult.Filter.Title")</h3>
            <select data-placeholder-text="@Html.Localize("Search.Filter.All.lbl")" class="js-types-select" multiple="multiple" name="types">
                @foreach (var item in Model.FilterItems)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="check">
            <label class="check__label">
                @Html.CheckBox("onlyPinned",
                    Model.OnlyPinned,
                    new
                    {
                        @class = "check__box"
                    })
                <input type="checkbox" class="check__box" name="onlyPinned" @(Model.OnlyPinned ? "checked" : "") value="@Model.OnlyPinned">
                <span class="check__fake-input icon-check"></span>
                <span class="check__fake-label">@Html.Localize("Search.Filter.OnlyPinned.chkbx")</span>
            </label>
        </div>

        <div class="clearfix js-searchResults-listContainer">
        </div>
        
        <div class="content__loader js-loading-status" style="text-align:center; display: none;"><img src="~/App_Plugins/CentralFeed/loader_whitebg.gif" width="50" height="50" alt="loader" /></div>
     }
</div>