@using uIntra.Core
@using System.Linq
@model uIntra.Core.Controls.LightboxGallery.LightboxGalleryOverviewModel
@{
    var medias = Model.GalleryItems.ToLookup(m => m.Type.Id);
    var images = medias[(int)MediaTypeEnum.Image];
    var documents = medias[(int)MediaTypeEnum.Document];
    var fullSizeClass = images.Count() > 1 ? String.Empty : "_full-size";
}
@if (images.Any())
{
    <ul id="js-lightbox-gallery" class="gallery js-lightbox-gallery @fullSizeClass">
        @foreach (var image in images)
        {
            var originalSize = $"{image.Width}x{image.Height}";
            <li class="gallery__item">
                <img class="gallery__image" src="@image.PreviewUrl" style="cursor: pointer" data-full-size="@originalSize" data-full-url="@image.Url" height="100" />
            </li>
        }
    </ul>
}

@if (documents.Any())
{
    <h3 class="feed__item-subtitle">Vedhæftede dokumenter:</h3>

    <ul class="documents-list">
        @foreach (var document in documents)
        {
            <li class="documents-list__item">
                <a class="documents-list__link" href="@document.Url" target="_blank">
                    <span class="documents-list__icon file-extension _@document.Extension"></span>
                    <span class="documents-list__title">@document.Name</span>
                </a>
            </li>
        }
    </ul>
}