@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using uIntra.CentralFeed
@using uIntra.Core.Extensions
@using Umbraco.Web
@model uIntra.CentralFeed.CentralFeedOverviewModel

<section class="content _central-feed">
    <ul class="feed-create js-feed-create">
        @foreach (var typeModel in Model.TabsWithCreateUrl)
        {
            <li class="feed-create__frame">
                <a class="btn" href="@typeModel.Links.Create">@Html.Localize($"CentralFeed.CreateLink_{typeModel.Type.Name}.lnk")</a>
            </li>
        }

        <li class="feed-create__frame">
            <a class="btn _submit js-bulletin-open">@Html.Localize("BulletinsCreate.ExpandBulletin.lbl")</a>
        </li>
    </ul>
    @Ajax.ActionLink(Html.Localize("CentralFeedList.OpenFilters.lbl"), "OpenFilters", "CentralFeed", new AjaxOptions(), new { @class = "filter__toggle js-filter__toggle" })
    @Html.Hidden("isFiltersOpened", Model.IsFiltersOpened.ToString().ToLower())
    <div class="feed__filter js-feed-navigation">
        <div class="filter__body">
            <ul class="feed-links js-feed-links">
                @foreach (var tabModel in Model.Tabs)
                {
                    <li class="feed-links__frame js-feed-type @(tabModel.IsActive ? "_active" : "")" data-type="@tabModel.Type.Id" data-page-url="@tabModel.Links.Overview">
                        <a class="feed-links__item" href="@tabModel.Links.Overview">@Html.Localize(tabModel.Type.Name)</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="feed__overview js-feed-overview">
        @using (Html.BeginUmbracoForm("List", "CentralFeed", null,
                                    new Dictionary<string, object> { { "class", "js-ajax-form" }, { "data-append-to", ".js-feed-listContainer" } }))
        {
            
            <input type="hidden" name="typeId" value="@Model.CurrentType.Id" />
            <input type="hidden" name="page" />
            <div class="tab-content js-feed-listContainer">
                @{Html.RenderAction("List", "CentralFeed",
                        new
                        {
                            model = new FeedListModel
                            {
                                TypeId = Model.CurrentType.Id
                            }
                        }); }
            </div>
            <div class="content__loader js-loading-status" style="text-align:center; display:none;"><img src="~/App_Plugins/CentralFeed/loader.gif" width="50" height="50" /></div>
        }
    </div>
</section>