@using uCommunity.Core.Extentions
@using uCommunity.Navigation.DefaultImplementation
@model  List<SystemLinksViewModel>

<ul class="side-nav js-systemLinks__opener" id="systemLinksContainer">
    <li class="side-nav__item">
        <a class="side-nav__link">@Html.Localize("SystemLinks.Menu.lbl")</a>
        <span class="side-nav__arrow"></span>
        @foreach (var group in Model)
        {
            <ul class="side-nav">
                @if (Model.Count > 1)
                {
                    <li class="side-nav__item">
                        <h3 class="side-nav__title">@group.LinksGroupTitle</h3>
                    </li>
                }
                @foreach (var item in group.SystemLinks)
                {
                    <li class="side-nav__item">
                        <a class="side-nav__link" href="@item.Url" target="@item.Target">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        }
    </li>
    <li class="side-nav__item"><i class="systemLinks__icon"></i></li>
</ul>