@using uCommunity.Core.Extentions
@using uCommunity.Events
@{
    var state = new { Type = EventType.Actual.GetHashCode(), ShowOnlySubscribed = false };
    var createPageLink = (string)ViewData["CreatePageUrl"];
}
<section class="content" id="js-event-overview">
    <a class="content__item-print" href="@createPageLink">@Html.Localize("EventsOverview.CreateEvents.lnk")</a>
    <div class="check">
        <input class="js-event-overview-state" type="hidden" value="@state.ToJson()" />
        <label class="check__label">
            <input type="checkbox" class="js-event-overview-show-subscribed check__box">
            <span class="check__fake-input icon-check"></span>
            <span class="check__fake-label">@Html.Localize("EventsOverview.ShowSubscribed.chkbx")</span>
        </label>
    </div>
    <div class="tabset">
        <ul class="tabset__navigation clearfix js-events-tabs">
            <li class="tabset__navigation-item _active">
                <a class="tabset__navigation-link js-event-tabs-link" data-type="@EventType.Actual"><span>@Html.Localize(EventType.Actual)</span></a>
            </li>
            <li class="tabset__navigation-item">
                <a class="tabset__navigation-link js-event-tabs-link" data-type="@EventType.Past"><span>@Html.Localize(EventType.Past)</span></a>
            </li>
        </ul>
    </div>
    <div class="content__list js-event-overview-list">
        @{ Html.RenderAction("List", "Events", new {type = state.Type, showOnlySubscribed = state.ShowOnlySubscribed}); }
    </div>
</section>