@using uCommunity.Core.Extentions;

@model uCommunity.Core.Controls.LightboxGallery.LightboxGalleryPreviewViewModel

@if (Model.Images.Any() || Model.OtherFiles.Any())
{
    <ul class="gallery js-lightbox-gallery clearfix">
        @if (Model.Images.Any())
        {
            foreach (var media in Model.Images)
            {
                var originalSize = $"{media.Width}x{media.Height}";

                <li class="gallery__item">
                    <img class="gallery__image" src="@media.PreviewUrl" style="cursor: pointer" data-full-size="@originalSize" data-full-url="@media.Url" />
                </li>
            }
        }
        @if (Model.OtherFiles.Any())
        {
            <li class="gallery__item _attachments">
                <img class="gallery__image" src="~/App_Plugins/Core/Controls/LightboxGallery/icon-doc.png" />
                <span class="gallery__count">@Model.OtherFiles.Count() @Html.Localize("LightboxGallery.Count.lbl")</span>
            </li>
        }
    </ul>
}
