@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using uIntra.Core.Extentions
@model uIntra.Comments.CommentCreateModel

@using (Ajax.BeginForm("Add", "Comments", new AjaxOptions { UpdateTargetId = Model.UpdateElementId, InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete = $"new CommentOverview('#{Model.UpdateElementId}');" }, new { @class = "comments__form js-comment-create", data_parentid = Model.ParentId }))
{
    <div class="comments__form-field">
        <div class="js-comment-create-description"></div>
    </div>
    @Html.ValidationMessageFor(model => model.Text)
    <input class="js-hidden-comment-create-description" data-val="true" data-val-required="*" name="Text" type="hidden" value="@Model.Text" />
    <input type="hidden" name="activityId" value="@Model.ActivityId" />
    <input type="hidden" name="parentId" value="@Model.ParentId" />
    <button disabled="disabled" class="btn btn-black js-comment-create-btn" type="submit">@Html.Localize("CommentsCreate.AddComment.btn")</button>
}