@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using uIntra.CentralFeed.App_Plugins.CentralFeed.Models
@using uIntra.Core.Extentions
@using Umbraco.Web
@model uIntra.CentralFeed.CentralFeedOverviewModel
@{
    var tabsWithCreateUrls = Model.Tabs.Where(t => t.CreateUrl.IsNotNullOrEmpty());
}

<section class="content _central-feed">
    @if (tabsWithCreateUrls.Any())
    {
        <ul class="feed-create">
            @foreach (var typeModel in tabsWithCreateUrls)
            {
                <li class="feed-create__frame">
                    <a class="feed-create__item" href="@typeModel.CreateUrl">@Html.Localize($"CentralFeed.CreateLink_{typeModel.Type.Name}.lnk")</a>
                </li>
            }
        </ul>
    }
    @Ajax.ActionLink(Html.Localize("CentralFeedList.OpenFilters.lbl"), "OpenFilters", "CentralFeed", new AjaxOptions(), new { @class = "filter__toggle js-filter__toggle" })
    @Html.Hidden("isFiltersOpened", Model.IsFiltersOpened.ToString().ToLower())
    <div class="feed__filter filter__body js-feed-navigation">
        <a id="js-sidepanel-opener" class="sidebar__opener _for-mobile"></a>
        <div class="tabset__holder">
            <ul class="feed-links js-feed-links">
                @foreach (var tabModel in Model.Tabs)
                {
                    <li class="feed-links__frame js-feed-type @(tabModel.IsActive ? "_active" : "")" data-type="@tabModel.Type.Id" data-page-url="@tabModel.Url">
                        <a class="feed-links__item" href="@tabModel.Url">@Html.Localize(tabModel.Type.Name)</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="feed__overview js-feed-overview">
        @using (Html.BeginUmbracoForm("List", "CentralFeed", null,
            new Dictionary<string, object> { { "class", "js-ajax-form" }, { "data-append-to", ".js-feed-listContainer" } }))
            {
                <div class="content__loader js-loading-status" style="display: none;"><img src="~/App_Plugins/CentralFeed/loader.gif" width="50" height="50"/></div>
                <input type="hidden" name="type" value="@Model.CurrentType.Id" />
                <input type="hidden" name="page" />
                <div class="tab-content js-feed-listContainer">
                    @{Html.RenderAction("List", "CentralFeed",
                        new
                        {
                            model = new CentralFeedListModel
                            {
                                Type = Model.CurrentType.Id
                            }
                        }); }
                </div>
            }
    </div>
</section>