@using Uintra.Core
@using Uintra.Core.Extensions
@using Uintra.Core.Media
@model Uintra.Core.Controls.LightboxGallery.LightboxGalleryOverviewModel

@{
    var fullSizeClass = Model.Medias.Count() > 1 ? string.Empty : "_full-size";
}

<div class="gallery-holder js-lightbox-gallery">
    @if (Model.Medias.Any())
    {
        <ul class="gallery clearfix">
            @foreach (var media in Model.Medias)
            {
                var originalSize = $"{media.Width}x{media.Height}";
                var videoClass = media.Type.ToInt() == MediaTypeEnum.Video.ToInt() ? "video" : string.Empty;

                <li class="gallery__item @fullSizeClass @videoClass">
                    @if (media.Type.ToInt() == MediaTypeEnum.Video.ToInt())
                    {
                        <span class="gallery__item-opener js-gallery__item-opener" data-type="video" data-video='@media.Url'>
                            <img class="gallery__image" src="@media.PreviewUrl" style="cursor: pointer" data-full-size="@originalSize" data-full-url="@media.Url" height="100" />
                        </span>
                    }
                    else
                    {
                        <span class="gallery__item-opener js-gallery__item-opener">
                            <img class="gallery__image" src="@media.PreviewUrl" style="cursor: pointer" data-full-size="@originalSize" data-full-url="@media.Url" height="100" />
                        </span>
                    }
                </li>
            }
        </ul>
    }
</div>

@if (Model.OtherFiles.Any())
{
<h3 class="feed__item-subtitle">@Html.Localize("LightboxGallery.AttachedDocuments.lbl")</h3>

    <ul class="documents-list">
        @foreach (var document in Model.OtherFiles)
        {
            <li class="documents-list__item">
                <a class="documents-list__link" href="@document.Url" target="_blank">
                    <span class="documents-list__icon file-extension">@document.Extension.ToExtensionViewString()</span>
                    <span class="documents-list__title">@document.Name</span>
                </a>
            </li>
        }
    </ul>
}
