@using uIntra.Core
@using uIntra.Core.Extensions
@model uIntra.Core.Controls.LightboxGallery.LightboxGalleryPreviewViewModel

@{
    var fullSizeClass = Model.Medias.Count() > 1 ? string.Empty : "_full-size";
}

<div class="gallery-holder js-lightbox-gallery">
    <ul class="gallery clearfix">
        @foreach (var media in Model.Medias)
        {
            var originalSize = $"{media.Width}x{media.Height}";
            var videoClass = media.Type.Id == MediaTypeEnum.Video.ToInt() ? "video" : string.Empty;

            <li class="gallery__item @fullSizeClass @videoClass" @*style="@(media.IsHidden ? "display:none;" : string.Empty)"*@>
                @if (media.Type.Id == MediaTypeEnum.Video.ToInt())
                {
                    <a href="#" class="gallery__item-opener" data-type="video" data-video='<div class="gallery__video"><div class="gallery__video-box"><video width="960" class="pswp__video" src="@media.Url" controls></video></div></div>'>
                        <img class="gallery__image" src="@media.PreviewUrl" style="cursor: pointer" data-full-size="@originalSize" data-full-url="@media.Url" height="100" />
                    </a>
                }
                else
                {
                    <a href="#" class="gallery__item-opener">
                        <img class="gallery__image" src="@media.PreviewUrl" style="cursor: pointer" data-full-size="@originalSize" data-full-url="@media.Url" height="100" />
                    </a>
                }
            </li>
        }        
    </ul>
    @if (Model.HiddenImagesCount > 0)
    {
        <span class="gallery__counter">+@Model.HiddenImagesCount</span>
    }

</div>
@* attachments *@

@if (Model.OtherFiles.Any())
{
    <div class="attachments">
        <a class="attachments__link" href="@Model.Links.Details">
            @Model.OtherFiles.Count() @Html.Localize("LightboxGallery.Count.lbl")
        </a>
    </div>
}
