@using uIntra.Core
@using uIntra.Core.Extensions
@model uIntra.Core.Controls.LightboxGallery.LightboxGalleryPreviewViewModel

@{
    var fullSizeClass = Model.Medias.Count() > 1 ? string.Empty : "_full-size";
}

<div class="gallery-holder js-lightbox-gallery">
    <ul class="gallery clearfix">
        @foreach (var media in Model.Medias)
        {
            var originalSize = $"{media.Width}x{media.Height}";
            var videoClass = media.Type.Id == MediaTypeEnum.Video.ToInt() ? "video" : string.Empty;

            <li class="gallery__item @fullSizeClass @videoClass" @*style="@(media.IsHidden ? "display:none;" : string.Empty)"*@>
                @if (media.Type.Id == MediaTypeEnum.Video.ToInt())
                {
                    <a href="#" class="gallery__item-opener" data-type="video" data-video='<div class="gallery__video"><div class="gallery__video-box"><video width="960" class="pswp__video" src="@media.Url" controls></video></div></div>'>
                        <img class="gallery__image" src="@media.PreviewUrl" style="cursor: pointer" data-full-size="@originalSize" data-full-url="@media.Url" height="100" />
                    </a>
                }
                else
                {
                    <a href="#" class="gallery__item-opener">
                        <img class="gallery__image" src="@media.PreviewUrl" style="cursor: pointer" data-full-size="@originalSize" data-full-url="@media.Url" height="100" />
                    </a>
                }
            </li>
        }
        <li class="gallery__item video">
            <a href="#" class="gallery__item-opener" data-type="video" data-video='<div class="gallery__video"><div class="gallery__video-box"><iframe class="pswp__video" width="960" height="640" src="https://www.youtube-nocookie.com/embed/iP2JGliTdvw?rel=0" frameborder="0" allowfullscreen></iframe></div></div>'>
                <img src="https://img.youtube.com/vi/iP2JGliTdvw/mqdefault.jpg" data-full-size="#" data-full-url="#" class="gallery__image">
            </a>
        </li>
        <li class="gallery__item video">
            <a href="#" class="gallery__item-opener" data-type="video" data-video='<div class="gallery__video"><div class="gallery__video-box"><iframe class="pswp__video" src="https://player.vimeo.com/video/121436114?title=0&byline=0&portrait=0" width="960" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>'>
                <img src="http://placehold.it/320x180?text=Vimeo" data-full-size="#" data-full-url="#" class="gallery__image">
            </a>
        </li>
        @*@if (Model.OtherFiles.Any())
            {
                <li class="gallery__item _attachments">
                    <a class="gallery__item-link" href="@Model.Links.Details">
                        <img class="gallery__image" src="~/App_Plugins/Core/Controls/LightboxGallery/icon-doc.png" width="20" height="27" />
                        <span class="gallery__count">@Model.OtherFiles.Count() @Html.Localize("LightboxGallery.Count.lbl")</span>
                    </a>
                </li>
            }*@
    </ul>
    <span class="gallery__counter">+5</span>
</div>
@* attachments *@

@if (Model.OtherFiles.Any())
{
    <div class="attachments">
        <a class="attachments__link" href="@Model.Links.Details">
            @Model.OtherFiles.Count() @Html.Localize("LightboxGallery.Count.lbl")
        </a>
    </div>
}
    