@model Uintra.Core.LinkPreview.LinkPreviewViewModel
<input type="hidden" name="linkPreviewId" value="@Model.Id" />

<div class="js-link-preview-edit-preview-container link-preview link-preview--edit">
    <button type="button" class="link-preview__close js-link-preview-remove-preview">X</button>
    <div class="link-preview__image">
        <img src="@Model.ImageUri" alt="link preview image description" />
    </div>
    <div class="link-preview__text">
        <h3 class="link-preview__title"><a href="@Model.Uri">@Model.Title</a></h3>
        <p>@Model.Description</p>
    </div>
</div>
