@model Uintra.Core.LinkPreview.LinkPreviewViewModel
<input type="hidden" name="linkPreviewId" value="@Model.Id" />
<div class="js-link-preview-edit-preview-container link-preview link-preview--edit">
    <button type="button" class="link-preview-close js-link-preview-remove-preview">X</button>
    <h3 class="link-preview-title"><a href="@Model.Uri">@Model.Title</a></h3>
    <p>@Model.Description</p>
    <div class="link-preview-image">
        <img src="@Model.ImageUri" alt="link preview image description" />
    </div>
</div>
